In [1]:
import pandas as pd

df = pd.read_csv('filtered_indicators/2018.csv')
pd.set_option('mode.chained_assignment', None)
df

,GENHLTH,INCOME2,SEX1,CVDSTRK3,PHYSHLTH,DIABETE3,MEDCOST,SMOKE100,_MICHD,MENTHLTH,EDUCA,_AGEG5YR,HLTHPLN1,_TOTINDA,DIFFWALK,_RFDRHV6,_BMI5
0,2.0,6.0,2.0,2.0,30.0,3.0,2.0,2.0,2.0,88.0,6.0,13.0,1.0,2.0,1.0,1.0,2231.0
1,3.0,4.0,2.0,2.0,88.0,3.0,1.0,1.0,2.0,88.0,6.0,3.0,2.0,1.0,2.0,1.0,3328.0
2,5.0,3.0,2.0,1.0,10.0,1.0,2.0,2.0,2.0,88.0,4.0,12.0,1.0,1.0,1.0,1.0,2968.0
3,1.0,3.0,1.0,2.0,88.0,3.0,2.0,2.0,2.0,88.0,4.0,10.0,1.0,1.0,2.0,1.0,2726.0
4,2.0,99.0,2.0,2.0,88.0,3.0,2.0,2.0,2.0,88.0,6.0,5.0,1.0,2.0,2.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437431,1.0,77.0,2.0,2.0,88.0,3.0,2.0,2.0,2.0,30.0,5.0,11.0,1.0,1.0,2.0,1.0,1792.0
437432,1.0,5.0,2.0,2.0,88.0,3.0,2.0,2.0,2.0,88.0,6.0,10.0,1.0,1.0,2.0,1.0,NaN
437433,5.0,1.0,2.0,2.0,30.0,3.0,2.0,1.0,2.0,88.0,2.0,12.0,1.0,2.0,1.0,1.0,3047.0
437434,4.0,3.0,2.0,2.0,88.0,4.0,2.0,1.0,2.0,2.0,6.0,12.0,1.0,1.0,2.0,1.0,2589.0
437435,3.0,5.0,2.0,2.0,88.0,3.0,2.0,2.0,2.0,30.0,6.0,6.0,1.0,2.0,1.0,1.0,2755.0

In [2]:
#Drop Missing Values - knocks 100,000 rows out right away
original_row_count = df.shape[0]
df = df.dropna()
droped_row_count = df.shape[0]
print(df.shape, "Percentage Droped:  ", ((original_row_count -  droped_row_count)/original_row_count) * 100)

(392571, 17) Percentage Droped:   10.256357501440212

In [3]:
def percentDropped(df_input):
    p =100*( (droped_row_count - df.shape[0]) / droped_row_count)
    return round(p,2)

In [4]:
# _MICHD
#Change 2 to 0 because this means did not have MI or CHD
df['_MICHD'] = df['_MICHD'].replace({2: 0})
print(df._MICHD.unique())

[0. 1.]

In [6]:
# #1 _RFHYPE5
# #Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
# df['_RFHYPE5'] = df['_RFHYPE5'].replace({1:0, 2:1})
# df = df[df._RFHYPE5 != 9]
# print(df._RFHYPE5.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [8]:
# #2 TOLDHI2
# # Change 2 to 0 because it is No
# # Remove all 7 (dont knows)
# # Remove all 9 (refused)
# df['TOLDHI2'] = df['TOLDHI2'].replace({2:0})
# df = df[df.TOLDHI2 != 7]
# df = df[df.TOLDHI2 != 9]
# print(df.TOLDHI2.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [10]:
# #3 _CHOLCHK
# # Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# # Remove 9
# df['_CHOLCH1'] = df['_CHOLCH1'].replace({3:0,2:0})
# df = df[df._CHOLCH1 != 9]
# print(df._CHOLCH1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [11]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
df['_BMI5'] = df['_BMI5'].div(100).round(0)
df._BMI5.unique()

array([22., 33., 30., 27., 31., 25., 28., 34., 40., 35., 24., 38., 41.,
       21., 29., 26., 23., 48., 37., 46., 42., 32., 15., 19., 39., 16.,
       45., 20., 18., 36., 17., 53., 43., 44., 57., 49., 47., 69., 52.,
       55., 51., 59., 14., 50., 56., 54., 58., 77., 62., 65., 78., 63.,
       13., 84., 61., 88., 60., 81., 87., 66., 72., 68., 75., 71., 80.,
       67., 98., 76., 64., 12., 70., 74., 73., 94., 83., 79., 86., 90.,
       97., 92., 95., 91., 85., 82., 96., 99., 89.])

In [12]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['SMOKE100'] = df['SMOKE100'].replace({2:0})
df = df[df.SMOKE100 != 7]
df = df[df.SMOKE100 != 9]
print(df.SMOKE100.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(390571, 17)     Dropped percent:  0.51     Droped rows:    2000

In [13]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['CVDSTRK3'] = df['CVDSTRK3'].replace({2:0})
df = df[df.CVDSTRK3 != 7]
df = df[df.CVDSTRK3 != 9]
print(df.CVDSTRK3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(389758, 17)     Dropped percent:  0.72     Droped rows:    2813

In [14]:
#7 DIABETE3
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['DIABETE3'] = df['DIABETE3'].replace({2:0, 3:0, 1:2, 4:1})
df = df[df.DIABETE3 != 7]
df = df[df.DIABETE3 != 9]
print(df.DIABETE3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 2. 1.]
(389318, 17)     Dropped percent:  0.83     Droped rows:    3253

In [15]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df['_TOTINDA'] = df['_TOTINDA'].replace({2:0})
df = df[df._TOTINDA != 9]
print(df._TOTINDA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(388848, 17)     Dropped percent:  0.95     Droped rows:    3723

In [17]:
# #9 _FRTLT1
# # Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# # remove all dont knows and missing 9
# df['_FRTLT1A'] = df['_FRTLT1A'].replace({2:0})
# df = df[df._FRTLT1A != 9]
# print(df._FRTLT1A.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [19]:
# #10 _VEGLT1
# # Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# # remove all dont knows and missing 9
# df['_VEGLT1'] = df['_VEGLT1A'].replace({2:0})
# df = df[df._VEGLT1 != 9]
# print(df._VEGLT1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [21]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df['_RFDRHV6'] = df['_RFDRHV6'].replace({1:0, 2:1})
df = df[df._RFDRHV6 != 9]
print(df._RFDRHV6.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(378230, 17)     Dropped percent:  3.65     Droped rows:    14341

In [22]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df['HLTHPLN1'] = df['HLTHPLN1'].replace({2:0})
df = df[df.HLTHPLN1 != 7]
df = df[df.HLTHPLN1 != 9]
print(df.HLTHPLN1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(376959, 17)     Dropped percent:  3.98     Droped rows:    15612

In [23]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df['MEDCOST'] = df['MEDCOST'].replace({2:0})
df = df[df.MEDCOST != 7]
df = df[df.MEDCOST != 9]
print(df.MEDCOST.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(376203, 17)     Dropped percent:  4.17     Droped rows:    16368

In [24]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df = df[df.GENHLTH != 7]
df = df[df.GENHLTH != 9]
print(df.GENHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[2. 3. 5. 1. 4.]
(375508, 17)     Dropped percent:  4.35     Droped rows:    17063

In [25]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['MENTHLTH'] = df['MENTHLTH'].replace({88:0})
df = df[df.MENTHLTH != 77]
df = df[df.MENTHLTH != 99]
print(df.MENTHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0.  2.  1.  3. 30. 10. 20. 15.  4. 28. 21.  7.  5. 14. 25.  8.  6.  9.
 29. 12. 11. 13. 16. 17. 27. 19. 18. 26. 22. 24. 23.]
(370778, 17)     Dropped percent:  5.55     Droped rows:    21793

In [26]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['PHYSHLTH'] = df['PHYSHLTH'].replace({88:0})
df = df[df.PHYSHLTH != 77]
df = df[df.PHYSHLTH != 99]
print(df.PHYSHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[30.  0. 10.  5.  7.  2.  3. 14. 15. 12.  1. 20.  4. 17. 25. 29. 18.  6.
  8. 26. 21.  9. 28. 24. 22. 13. 23. 11. 16. 27. 19.]
(365704, 17)     Dropped percent:  6.84     Droped rows:    26867

In [27]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df['DIFFWALK'] = df['DIFFWALK'].replace({2:0})
df = df[df.DIFFWALK != 7]
df = df[df.DIFFWALK != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(364873, 17)     Dropped percent:  7.06     Droped rows:    27698

In [30]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df['SEX1'] = df['SEX1'].replace({2:0})
df = df[df.SEX1 != 9]
df = df[df.SEX1 != 7]
print(df.SEX1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(364573, 17)     Dropped percent:  7.13     Droped rows:    27998

In [31]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df = df[df._AGEG5YR != 14]
print(df._AGEG5YR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[13.  3. 12. 10.  6.  8. 11.  7.  4.  9.  1.  2.  5.]
(360765, 17)     Dropped percent:  8.1     Droped rows:    31806

In [32]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df = df[df.EDUCA != 9]
print(df.EDUCA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[6. 4. 5. 3. 2. 1.]
(360363, 17)     Dropped percent:  8.2     Droped rows:    32208

In [33]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df = df[df.INCOME2 != 77]
df = df[df.INCOME2 != 99]
print(df.INCOME2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[6. 4. 3. 8. 5. 7. 2. 1.]
(314049, 17)     Dropped percent:  20.0     Droped rows:    78522

In [34]:
print(df.shape,  "Percent Dropped From Start: ", round(((original_row_count - df.shape[0]) / original_row_count) * 100, 2), " Original Row Count: ", original_row_count)

(314049, 17) Percent Dropped From Start:  28.21  Original Row Count:  437436

In [35]:
#Check Class Sizes of the heart disease column  Note the class imbalance!
print(df.groupby(['_MICHD']).size())
grp =df.groupby(['_MICHD'])
percent_yes = 100*(grp.size()[1.0] / grp.size().sum())
print("Percent Yes (1.0): ",  round(percent_yes, 2))

_MICHD
0.0    285425
1.0     28624
dtype: int64
Percent Yes (1.0):  9.11

In [36]:
column_name_mapping = {

    'HeartDiseaseorAttack':['_MICHD'],
    'HighChol': ['TOLDHI2', 'TOLDHI3'],
    'Fruits': ['_FRTLT1', '_FRTLT1A'],
    'HighBP': ['_RFHYPE6', '_RFHYPE5'],
    "Veggies": ['_VEGLT1A', '_VEGLT1' ],
    'CholCheck': ['_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3' ],
    'Sex':['SEX', 'SEX1', 'SEXVAR'],
    'HvyAlcoholConsump': ['_RFDRHV5','_RFDRHV6', '_RFDRHV7', '_RFDRHV8'],
    'Diabetes': ['DIABETE3', 'DIABETE4'],
    'AnyHealthcare': ['HLTHPLN1', '_HLTHPLN'],
    'Income': ['INCOME2', 'INCOME3' ],
    'NoDocbcCost': ['MEDCOST', 'MEDCOST1' ],
    'BMI': ['_BMI5'],
    'Smoker': ['SMOKE100'],
    'Stroke': ['CVDSTRK3'],
    'PhysActivity': ['_TOTINDA' ],
    'GenHlth': ['GENHLTH'],
    'MentHlth': ['MENTHLTH'],
    'PhysHlth': ['PHYSHLTH'],
    'DiffWalk': ['DIFFWALK'],
    'Age':['_AGEG5YR'],
    'Education': ['EDUCA']}

all_column_names = []
for vals in column_name_mapping.values():
    all_column_names += vals
print(all_column_names)

col_to_name_mapping = {}

for key, values in column_name_mapping.items():
    if isinstance(values, list):
        for value in values:
            col_to_name_mapping[value] = key
    elif isinstance(values, str):
        col_to_name_mapping[values] = key

subset_columns = list(set(df.columns) & set(col_to_name_mapping.keys()))
filtered_mapping = {col: col_to_name_mapping[col] for col in subset_columns}
df.rename(columns=filtered_mapping, inplace=True)
df

['_MICHD', 'TOLDHI2', 'TOLDHI3', '_FRTLT1', '_FRTLT1A', '_RFHYPE6', '_RFHYPE5', '_VEGLT1A', '_VEGLT1', '_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3', 'SEX', 'SEX1', 'SEXVAR', '_RFDRHV5', '_RFDRHV6', '_RFDRHV7', '_RFDRHV8', 'DIABETE3', 'DIABETE4', 'HLTHPLN1', '_HLTHPLN', 'INCOME2', 'INCOME3', 'MEDCOST', 'MEDCOST1', '_BMI5', 'SMOKE100', 'CVDSTRK3', '_TOTINDA', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', '_AGEG5YR', 'EDUCA']

,GenHlth,Income,Sex,Stroke,PhysHlth,Diabetes,NoDocbcCost,Smoker,HeartDiseaseorAttack,MentHlth,Education,Age,AnyHealthcare,PhysActivity,DiffWalk,HvyAlcoholConsump,BMI
0,2.0,6.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,6.0,13.0,1.0,0.0,1.0,0.0,22.0
1,3.0,4.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,6.0,3.0,0.0,1.0,0.0,0.0,33.0
2,5.0,3.0,0.0,1.0,10.0,2.0,0.0,0.0,0.0,0.0,4.0,12.0,1.0,1.0,1.0,0.0,30.0
3,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,10.0,1.0,1.0,0.0,0.0,27.0
6,1.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,12.0,1.0,1.0,0.0,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437428,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,10.0,1.0,1.0,0.0,0.0,30.0
437429,3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,7.0,1.0,0.0,0.0,0.0,26.0
437433,5.0,1.0,0.0,0.0,30.0,0.0,0.0,1.0,0.0,0.0,2.0,12.0,1.0,0.0,1.0,0.0,30.0
437434,4.0,3.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,6.0,12.0,1.0,1.0,0.0,0.0,26.0
437435,3.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,6.0,6.0,1.0,0.0,1.0,0.0,28.0

In [ ]:
df.to_csv('indicators_clean/clean_indicators_2018.csv')