In [1]:
import pandas as pd

df = pd.read_csv('filtered_indicators/2020.csv')
pd.set_option('mode.chained_assignment', None)
df

,GENHLTH,INCOME2,PHYSHLTH,CVDSTRK3,MEDCOST,SMOKE100,_MICHD,_RFDRHV7,MENTHLTH,EDUCA,_AGEG5YR,HLTHPLN1,DIABETE4,SEXVAR,_TOTINDA,DIFFWALK,_BMI5
0,2.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,30.0,6.0,8.0,2.0,1.0,2.0,1.0,2.0,1660.0
1,3.0,99.0,88.0,2.0,1.0,NaN,2.0,9.0,88.0,6.0,10.0,1.0,3.0,2.0,1.0,2.0,2918.0
2,3.0,7.0,88.0,2.0,2.0,2.0,2.0,1.0,88.0,5.0,10.0,1.0,3.0,2.0,1.0,2.0,NaN
3,1.0,99.0,88.0,2.0,2.0,2.0,2.0,1.0,88.0,4.0,13.0,1.0,3.0,2.0,2.0,2.0,NaN
4,2.0,77.0,88.0,1.0,2.0,2.0,2.0,1.0,88.0,6.0,13.0,1.0,3.0,2.0,1.0,2.0,2034.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401953,3.0,99.0,88.0,2.0,2.0,2.0,2.0,1.0,88.0,5.0,6.0,2.0,3.0,2.0,1.0,2.0,2424.0
401954,3.0,4.0,88.0,2.0,2.0,2.0,2.0,1.0,88.0,3.0,2.0,1.0,3.0,2.0,2.0,2.0,3281.0
401955,3.0,1.0,88.0,2.0,2.0,2.0,2.0,1.0,88.0,4.0,13.0,1.0,3.0,2.0,1.0,2.0,4656.0
401956,3.0,99.0,88.0,2.0,2.0,7.0,2.0,1.0,88.0,6.0,8.0,1.0,3.0,1.0,1.0,2.0,2661.0
401957,3.0,5.0,2.0,1.0,2.0,2.0,2.0,1.0,7.0,6.0,9.0,1.0,4.0,2.0,2.0,2.0,3085.0

In [2]:
#Drop Missing Values - knocks 100,000 rows out right away
original_row_count = df.shape[0]
df = df.dropna()
droped_row_count = df.shape[0]
print(df.shape, "Percentage Droped:  ", ((original_row_count -  droped_row_count)/original_row_count) * 100)

(352193, 17) Percentage Droped:   12.380646734235915

In [3]:
def percentDropped(df_input):
    p =100*( (droped_row_count - df.shape[0]) / droped_row_count)
    return round(p,2)

In [4]:
# _MICHD
#Change 2 to 0 because this means did not have MI or CHD
df['_MICHD'] = df['_MICHD'].replace({2: 0})
print(df._MICHD.unique())

[0. 1.]

In [6]:
# #1 _RFHYPE5
# #Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
# df['_RFHYPE5'] = df['_RFHYPE5'].replace({1:0, 2:1})
# df = df[df._RFHYPE5 != 9]
# print(df._RFHYPE5.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [9]:
# #2 TOLDHI2
# # Change 2 to 0 because it is No
# # Remove all 7 (dont knows)
# # Remove all 9 (refused)
# df['TOLDHI3'] = df['TOLDHI3'].replace({2:0})
# df = df[df.TOLDHI3 != 7]
# df = df[df.TOLDHI3 != 9]
# print(df.TOLDHI3.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [11]:
# #3 _CHOLCHK
# # Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# # Remove 9
# df['_CHOLCH1'] = df['_CHOLCH1'].replace({3:0,2:0})
# df = df[df._CHOLCH1 != 9]
# print(df._CHOLCH1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [12]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
df['_BMI5'] = df['_BMI5'].div(100).round(0)
df._BMI5.unique()

array([17., 20., 27., 24., 29., 22., 32., 26., 41., 34., 28., 23., 30.,
       18., 21., 25., 37., 31., 45., 19., 39., 33., 47., 40., 35., 44.,
       36., 59., 38., 43., 49., 42., 53., 52., 15., 51., 55., 50., 56.,
       76., 16., 57., 48., 46., 82., 12., 14., 60., 67., 63., 66., 54.,
       64., 13., 58., 62., 83., 81., 68., 61., 69., 73., 72., 79., 71.,
       75., 77., 70., 87., 80., 84., 65., 78., 86., 85., 74., 93., 94.,
       92., 95., 90., 89., 88.])

In [13]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['SMOKE100'] = df['SMOKE100'].replace({2:0})
df = df[df.SMOKE100 != 7]
df = df[df.SMOKE100 != 9]
print(df.SMOKE100.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(350120, 17)     Dropped percent:  0.59     Droped rows:    2073

In [14]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['CVDSTRK3'] = df['CVDSTRK3'].replace({2:0})
df = df[df.CVDSTRK3 != 7]
df = df[df.CVDSTRK3 != 9]
print(df.CVDSTRK3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(349474, 17)     Dropped percent:  0.77     Droped rows:    2719

In [17]:
#7 DIABETE3
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['DIABETE4'] = df['DIABETE4'].replace({2:0, 3:0, 1:2, 4:1})
df = df[df.DIABETE4 != 7]
df = df[df.DIABETE4 != 9]
print(df.DIABETE4.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[2. 0. 1.]
(349094, 17)     Dropped percent:  0.88     Droped rows:    3099

In [18]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df['_TOTINDA'] = df['_TOTINDA'].replace({2:0})
df = df[df._TOTINDA != 9]
print(df._TOTINDA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(348648, 17)     Dropped percent:  1.01     Droped rows:    3545

In [21]:
df.head()

,GENHLTH,INCOME2,PHYSHLTH,CVDSTRK3,MEDCOST,SMOKE100,_MICHD,_RFDRHV7,MENTHLTH,EDUCA,_AGEG5YR,HLTHPLN1,DIABETE4,SEXVAR,_TOTINDA,DIFFWALK,_BMI5
0,2.0,1.0,3.0,0.0,1.0,1.0,0.0,1.0,30.0,6.0,8.0,2.0,2.0,2.0,1.0,2.0,17.0
4,2.0,77.0,88.0,1.0,2.0,0.0,0.0,1.0,88.0,6.0,13.0,1.0,0.0,2.0,1.0,2.0,20.0
5,4.0,5.0,20.0,0.0,2.0,1.0,0.0,1.0,30.0,4.0,10.0,1.0,2.0,1.0,1.0,2.0,27.0
6,3.0,6.0,88.0,0.0,2.0,0.0,0.0,1.0,88.0,4.0,12.0,1.0,0.0,2.0,0.0,2.0,24.0
7,4.0,5.0,15.0,0.0,2.0,1.0,0.0,9.0,10.0,4.0,10.0,1.0,2.0,2.0,1.0,2.0,27.0

In [22]:
# #9 _FRTLT1
# # Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# # remove all dont knows and missing 9
# df['_FRTLT1'] = df['_FRTLT1'].replace({2:0})
# df = df[df._FRTLT1 != 9]
# print(df._FRTLT1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [23]:
# #10 _VEGLT1
# # Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# # remove all dont knows and missing 9
# df['_VEGLT1'] = df['_VEGLT1A'].replace({2:0})
# df = df[df._VEGLT1 != 9]
# print(df._VEGLT1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [25]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df['_RFDRHV7'] = df['_RFDRHV7'].replace({1:0, 2:1})
df = df[df._RFDRHV7 != 9]
print(df._RFDRHV7.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(338758, 17)     Dropped percent:  3.81     Droped rows:    13435

In [26]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df['HLTHPLN1'] = df['HLTHPLN1'].replace({2:0})
df = df[df.HLTHPLN1 != 7]
df = df[df.HLTHPLN1 != 9]
print(df.HLTHPLN1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(337446, 17)     Dropped percent:  4.19     Droped rows:    14747

In [27]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df['MEDCOST'] = df['MEDCOST'].replace({2:0})
df = df[df.MEDCOST != 7]
df = df[df.MEDCOST != 9]
print(df.MEDCOST.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(336766, 17)     Dropped percent:  4.38     Droped rows:    15427

In [28]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df = df[df.GENHLTH != 7]
df = df[df.GENHLTH != 9]
print(df.GENHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[2. 4. 3. 5. 1.]
(336213, 17)     Dropped percent:  4.54     Droped rows:    15980

In [29]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['MENTHLTH'] = df['MENTHLTH'].replace({88:0})
df = df[df.MENTHLTH != 77]
df = df[df.MENTHLTH != 99]
print(df.MENTHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[30.  0.  2.  5. 15.  8.  4.  3. 10. 14. 20.  1.  7. 24.  9. 25. 28. 16.
 12.  6. 17. 18. 21. 29. 22. 13. 23. 27. 26. 11. 19.]
(330954, 17)     Dropped percent:  6.03     Droped rows:    21239

In [30]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['PHYSHLTH'] = df['PHYSHLTH'].replace({88:0})
df = df[df.PHYSHLTH != 77]
df = df[df.PHYSHLTH != 99]
print(df.PHYSHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 3.  0. 20. 28.  6. 15.  5. 30.  7.  1.  2. 21.  4. 10. 14. 18.  8. 25.
 16. 22. 29. 27. 17. 24. 12. 23. 26. 19.  9. 13. 11.]
(326366, 17)     Dropped percent:  7.33     Droped rows:    25827

In [31]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df['DIFFWALK'] = df['DIFFWALK'].replace({2:0})
df = df[df.DIFFWALK != 7]
df = df[df.DIFFWALK != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(325643, 17)     Dropped percent:  7.54     Droped rows:    26550

In [34]:
df.columns

Index(['GENHLTH', 'INCOME2', 'PHYSHLTH', 'CVDSTRK3', 'MEDCOST', 'SMOKE100',
       '_MICHD', '_RFDRHV7', 'MENTHLTH', 'EDUCA', '_AGEG5YR', 'HLTHPLN1',
       'DIABETE4', 'SEXVAR', '_TOTINDA', 'DIFFWALK', '_BMI5'],
      dtype='object')

In [35]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df['SEXVAR'] = df['SEXVAR'].replace({2:0})
df = df[df.SEXVAR != 9]
print(df.SEXVAR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(325643, 17)     Dropped percent:  7.54     Droped rows:    26550

In [36]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df = df[df._AGEG5YR != 14]
print(df._AGEG5YR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 8. 13. 10. 12.  5. 11.  9.  7.  6.  1.  4.  2.  3.]
(322417, 17)     Dropped percent:  8.45     Droped rows:    29776

In [37]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df = df[df.EDUCA != 9]
print(df.EDUCA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[6. 4. 2. 5. 3. 1.]
(321960, 17)     Dropped percent:  8.58     Droped rows:    30233

In [38]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df = df[df.INCOME2 != 77]
df = df[df.INCOME2 != 99]
print(df.INCOME2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 5. 6. 7. 4. 2. 8. 3.]
(276211, 17)     Dropped percent:  21.57     Droped rows:    75982

In [39]:
print(df.shape,  "Percent Dropped From Start: ", round(((original_row_count - df.shape[0]) / original_row_count) * 100, 2), " Original Row Count: ", original_row_count)

(276211, 17) Percent Dropped From Start:  31.28  Original Row Count:  401958

In [40]:
#Check Class Sizes of the heart disease column  Note the class imbalance!
print(df.groupby(['_MICHD']).size())
grp =df.groupby(['_MICHD'])
percent_yes = 100*(grp.size()[1.0] / grp.size().sum())
print("Percent Yes (1.0): ",  round(percent_yes, 2))

_MICHD
0.0    252737
1.0     23474
dtype: int64
Percent Yes (1.0):  8.5

In [41]:
column_name_mapping = {

    'HeartDiseaseorAttack':['_MICHD'],
    'HighChol': ['TOLDHI2', 'TOLDHI3'],
    'Fruits': ['_FRTLT1', '_FRTLT1A'],
    'HighBP': ['_RFHYPE6', '_RFHYPE5'],
    "Veggies": ['_VEGLT1A', '_VEGLT1' ],
    'CholCheck': ['_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3' ],
    'Sex':['SEX', 'SEX1', 'SEXVAR'],
    'HvyAlcoholConsump': ['_RFDRHV5','_RFDRHV6', '_RFDRHV7', '_RFDRHV8'],
    'Diabetes': ['DIABETE3', 'DIABETE4'],
    'AnyHealthcare': ['HLTHPLN1', '_HLTHPLN'],
    'Income': ['INCOME2', 'INCOME3' ],
    'NoDocbcCost': ['MEDCOST', 'MEDCOST1' ],
    'BMI': ['_BMI5'],
    'Smoker': ['SMOKE100'],
    'Stroke': ['CVDSTRK3'],
    'PhysActivity': ['_TOTINDA' ],
    'GenHlth': ['GENHLTH'],
    'MentHlth': ['MENTHLTH'],
    'PhysHlth': ['PHYSHLTH'],
    'DiffWalk': ['DIFFWALK'],
    'Age':['_AGEG5YR'],
    'Education': ['EDUCA']}

all_column_names = []
for vals in column_name_mapping.values():
    all_column_names += vals
print(all_column_names)

col_to_name_mapping = {}

for key, values in column_name_mapping.items():
    if isinstance(values, list):
        for value in values:
            col_to_name_mapping[value] = key
    elif isinstance(values, str):
        col_to_name_mapping[values] = key

subset_columns = list(set(df.columns) & set(col_to_name_mapping.keys()))
filtered_mapping = {col: col_to_name_mapping[col] for col in subset_columns}
df.rename(columns=filtered_mapping, inplace=True)
df

['_MICHD', 'TOLDHI2', 'TOLDHI3', '_FRTLT1', '_FRTLT1A', '_RFHYPE6', '_RFHYPE5', '_VEGLT1A', '_VEGLT1', '_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3', 'SEX', 'SEX1', 'SEXVAR', '_RFDRHV5', '_RFDRHV6', '_RFDRHV7', '_RFDRHV8', 'DIABETE3', 'DIABETE4', 'HLTHPLN1', '_HLTHPLN', 'INCOME2', 'INCOME3', 'MEDCOST', 'MEDCOST1', '_BMI5', 'SMOKE100', 'CVDSTRK3', '_TOTINDA', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', '_AGEG5YR', 'EDUCA']

,GenHlth,Income,PhysHlth,Stroke,NoDocbcCost,Smoker,HeartDiseaseorAttack,HvyAlcoholConsump,MentHlth,Education,Age,AnyHealthcare,Diabetes,Sex,PhysActivity,DiffWalk,BMI
0,2.0,1.0,3.0,0.0,1.0,1.0,0.0,0.0,30.0,6.0,8.0,0.0,2.0,0.0,1.0,0.0,17.0
5,4.0,5.0,20.0,0.0,0.0,1.0,0.0,0.0,30.0,4.0,10.0,1.0,2.0,1.0,1.0,0.0,27.0
6,3.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,12.0,1.0,0.0,0.0,0.0,0.0,24.0
8,2.0,6.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,5.0,1.0,0.0,0.0,1.0,1.0,24.0
10,4.0,7.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,11.0,1.0,0.0,0.0,1.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401950,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,1.0,0.0,0.0,1.0,0.0,22.0
401952,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,4.0,1.0,0.0,1.0,1.0,0.0,30.0
401954,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,33.0
401955,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,1.0,0.0,0.0,1.0,0.0,47.0
401957,3.0,5.0,2.0,1.0,0.0,0.0,0.0,0.0,7.0,6.0,9.0,1.0,1.0,0.0,0.0,0.0,31.0

In [ ]:
df.to_csv('indicators_clean/clean_indicators_2020.csv')