In [31]:
import pandas as pd

df = pd.read_csv('../filtered_indicators/2017.csv')
pd.set_option('display.max_columns', None)
pd.set_option('mode.chained_assignment', None)
df

,GENHLTH,INCOME2,SEX,CVDSTRK3,_FRTLT1A,_CHOLCH1,_BMI5,PHYSHLTH,TOLDHI2,MEDCOST,SMOKE100,_RFDRHV5,EDUCA,_VEGLT1A,HLTHPLN1,DIABETE3,_MICHD,MENTHLTH,_RFHYPE5,_AGEG5YR,_TOTINDA,DIFFWALK
0,2.0,6.0,2.0,2.0,1.0,1.0,2696.0,88.0,1.0,2.0,2.0,1.0,6.0,1.0,1.0,1.0,2.0,88.0,2.0,11.0,1.0,1.0
1,2.0,8.0,1.0,2.0,1.0,1.0,2943.0,88.0,2.0,2.0,2.0,1.0,6.0,1.0,1.0,3.0,2.0,88.0,2.0,10.0,1.0,2.0
2,3.0,99.0,1.0,2.0,2.0,1.0,2504.0,88.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,3.0,2.0,88.0,1.0,11.0,2.0,2.0
3,4.0,1.0,2.0,2.0,2.0,1.0,2663.0,88.0,1.0,2.0,2.0,1.0,3.0,9.0,1.0,1.0,2.0,88.0,2.0,11.0,9.0,2.0
4,4.0,2.0,2.0,2.0,1.0,1.0,2330.0,14.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,3.0,2.0,88.0,1.0,10.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450011,3.0,77.0,2.0,2.0,1.0,1.0,2569.0,88.0,2.0,1.0,2.0,1.0,5.0,1.0,1.0,3.0,2.0,88.0,1.0,3.0,1.0,2.0
450012,4.0,2.0,1.0,2.0,2.0,1.0,2129.0,88.0,1.0,1.0,2.0,1.0,4.0,1.0,1.0,3.0,2.0,5.0,2.0,13.0,2.0,1.0
450013,3.0,7.0,1.0,2.0,2.0,1.0,3228.0,88.0,1.0,2.0,2.0,1.0,6.0,1.0,1.0,3.0,2.0,88.0,2.0,7.0,2.0,2.0
450014,4.0,1.0,2.0,2.0,2.0,9.0,3328.0,88.0,1.0,2.0,1.0,1.0,5.0,2.0,1.0,1.0,2.0,88.0,1.0,3.0,2.0,2.0
450015,3.0,6.0,2.0,2.0,2.0,1.0,2995.0,88.0,1.0,2.0,2.0,1.0,6.0,2.0,1.0,3.0,2.0,88.0,1.0,2.0,2.0,2.0

In [32]:
#Drop Missing Values - knocks 100,000 rows out right away
original_row_count = df.shape[0]
df = df.dropna()
droped_row_count = df.shape[0]
print(df.shape, "Percentage Droped:  ", ((original_row_count -  droped_row_count)/original_row_count) * 100)

(378115, 22) Percentage Droped:   15.977431913531964

In [33]:
def percentDropped(df_input):
    p =100*( (droped_row_count - df.shape[0]) / droped_row_count)
    return round(p,2)

In [34]:
# _MICHD
#Change 2 to 0 because this means did not have MI or CHD
df['_MICHD'] = df['_MICHD'].replace({2: 0})
print(df._MICHD.unique())

[0. 1.]

In [35]:
#1 _RFHYPE5
#Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
df['_RFHYPE5'] = df['_RFHYPE5'].replace({1:0, 2:1})
df = df[df._RFHYPE5 != 9]
print(df._RFHYPE5.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(377266, 22)     Dropped percent:  0.22     Droped rows:    849

In [36]:
#2 TOLDHI2
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['TOLDHI2'] = df['TOLDHI2'].replace({2:0})
df = df[df.TOLDHI2 != 7]
df = df[df.TOLDHI2 != 9]
print(df.TOLDHI2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(374016, 22)     Dropped percent:  1.08     Droped rows:    4099

In [37]:
#3 _CHOLCHK
# Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# Remove 9
df['_CHOLCH1'] = df['_CHOLCH1'].replace({3:0,2:0})
df = df[df._CHOLCH1 != 9]
print(df._CHOLCH1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(357458, 22)     Dropped percent:  5.46     Droped rows:    20657

In [38]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
df['_BMI5'] = df['_BMI5'].div(100).round(0)
df._BMI5.unique()

array([27., 29., 25., 23., 28., 22., 24., 34., 20., 21., 30., 32., 40.,
       47., 18., 36., 33., 37., 16., 17., 38., 26., 19., 53., 31., 43.,
       49., 35., 41., 45., 39., 42., 51., 54., 46., 52., 55., 44., 50.,
       57., 56., 48., 62., 15., 63., 66., 14., 60., 59., 58., 61., 71.,
       13., 69., 65., 93., 64., 73., 68., 97., 74., 83., 67., 72., 70.,
       12., 81., 78., 98., 84., 86., 77., 82., 89., 90., 76., 88., 94.,
       75., 80., 92., 87., 79., 99., 85.])

In [39]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['SMOKE100'] = df['SMOKE100'].replace({2:0})
df = df[df.SMOKE100 != 7]
df = df[df.SMOKE100 != 9]
print(df.SMOKE100.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(355872, 22)     Dropped percent:  5.88     Droped rows:    22243

In [40]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['CVDSTRK3'] = df['CVDSTRK3'].replace({2:0})
df = df[df.CVDSTRK3 != 7]
df = df[df.CVDSTRK3 != 9]
print(df.CVDSTRK3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(355091, 22)     Dropped percent:  6.09     Droped rows:    23024

In [41]:
#7 DIABETE3
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['DIABETE3'] = df['DIABETE3'].replace({2:0, 3:0, 1:2, 4:1})
df = df[df.DIABETE3 != 7]
df = df[df.DIABETE3 != 9]
print(df.DIABETE3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[2. 0. 1.]
(354747, 22)     Dropped percent:  6.18     Droped rows:    23368

In [42]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df['_TOTINDA'] = df['_TOTINDA'].replace({2:0})
df = df[df._TOTINDA != 9]
print(df._TOTINDA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(341653, 22)     Dropped percent:  9.64     Droped rows:    36462

In [43]:
#9 _FRTLT1
# Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# remove all dont knows and missing 9
df['_FRTLT1A'] = df['_FRTLT1A'].replace({2:0})
df = df[df._FRTLT1A != 9]
print(df._FRTLT1A.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(334199, 22)     Dropped percent:  11.61     Droped rows:    43916

In [44]:
#10 _VEGLT1
# Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# remove all dont knows and missing 9
df['_VEGLT1'] = df['_VEGLT1A'].replace({2:0})
df = df[df._VEGLT1 != 9]
print(df._VEGLT1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(326013, 23)     Dropped percent:  13.78     Droped rows:    52102

In [45]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df['_RFDRHV5'] = df['_RFDRHV5'].replace({1:0, 2:1})
df = df[df._RFDRHV5 != 9]
print(df._RFDRHV5.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(321941, 23)     Dropped percent:  14.86     Droped rows:    56174

In [46]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df['HLTHPLN1'] = df['HLTHPLN1'].replace({2:0})
df = df[df.HLTHPLN1 != 7]
df = df[df.HLTHPLN1 != 9]
print(df.HLTHPLN1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(321255, 23)     Dropped percent:  15.04     Droped rows:    56860

In [47]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df['MEDCOST'] = df['MEDCOST'].replace({2:0})
df = df[df.MEDCOST != 7]
df = df[df.MEDCOST != 9]
print(df.MEDCOST.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(320752, 23)     Dropped percent:  15.17     Droped rows:    57363

In [48]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df = df[df.GENHLTH != 7]
df = df[df.GENHLTH != 9]
print(df.GENHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[2. 3. 4. 1. 5.]
(320277, 23)     Dropped percent:  15.3     Droped rows:    57838

In [49]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['MENTHLTH'] = df['MENTHLTH'].replace({88:0})
df = df[df.MENTHLTH != 77]
df = df[df.MENTHLTH != 99]
print(df.MENTHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0. 25.  1. 30. 15.  2. 10. 14.  3.  6. 12.  4.  5. 20.  7. 28.  8. 22.
  9. 23. 13. 27. 16. 21. 18. 29. 17. 26. 24. 11. 19.]
(317056, 23)     Dropped percent:  16.15     Droped rows:    61059

In [50]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['PHYSHLTH'] = df['PHYSHLTH'].replace({88:0})
df = df[df.PHYSHLTH != 77]
df = df[df.PHYSHLTH != 99]
print(df.PHYSHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0. 14.  6.  2.  5. 30.  4. 15. 20.  3.  1.  7. 10. 21. 25. 12. 28. 18.
 29. 13. 27. 11. 19. 24. 22.  8. 16. 17.  9. 26. 23.]
(313407, 23)     Dropped percent:  17.11     Droped rows:    64708

In [51]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df['DIFFWALK'] = df['DIFFWALK'].replace({2:0})
df = df[df.DIFFWALK != 7]
df = df[df.DIFFWALK != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(312713, 23)     Dropped percent:  17.3     Droped rows:    65402

In [52]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df['SEX'] = df['SEX'].replace({2:0})
df = df[df.SEX != 9]
print(df.SEX.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(312657, 23)     Dropped percent:  17.31     Droped rows:    65458

In [53]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df = df[df._AGEG5YR != 14]
print(df._AGEG5YR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[11. 10. 12. 13.  6.  9.  2.  1.  8.  7.  5.  4.  3.]
(310696, 23)     Dropped percent:  17.83     Droped rows:    67419

In [54]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df = df[df.EDUCA != 9]
print(df.EDUCA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[6. 2. 4. 5. 3. 1.]
(310338, 23)     Dropped percent:  17.92     Droped rows:    67777

In [55]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df = df[df.INCOME2 != 77]
df = df[df.INCOME2 != 99]
print(df.INCOME2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[6. 8. 2. 4. 5. 7. 3. 1.]
(275854, 23)     Dropped percent:  27.04     Droped rows:    102261

In [56]:
print(df.shape,  "Percent Dropped From Start: ", round(((original_row_count - df.shape[0]) / original_row_count) * 100, 2), " Original Row Count: ", original_row_count)

(275854, 23) Percent Dropped From Start:  38.7  Original Row Count:  450016

In [57]:
#Check Class Sizes of the heart disease column  Note the class imbalance!
print(df.groupby(['_MICHD']).size())
grp =df.groupby(['_MICHD'])
percent_yes = 100*(grp.size()[1.0] / grp.size().sum())
print("Percent Yes (1.0): ",  round(percent_yes, 2))

_MICHD
0.0    250560
1.0     25294
dtype: int64
Percent Yes (1.0):  9.17

In [59]:
df.drop('_VEGLT1', axis =1, inplace=True)

In [60]:
column_name_mapping = {

    'HeartDiseaseorAttack':['_MICHD'],
    'HighChol': ['TOLDHI2', 'TOLDHI3'],
    'Fruits': ['_FRTLT1', '_FRTLT1A'],
    'HighBP': ['_RFHYPE6', '_RFHYPE5'],
    "Veggies": ['_VEGLT1A', '_VEGLT1' ],
    'CholCheck': ['_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3' ],
    'Sex':['SEX', 'SEX1', 'SEXVAR'],
    'HvyAlcoholConsump': ['_RFDRHV5','_RFDRHV6', '_RFDRHV7', '_RFDRHV8'],
    'Diabetes': ['DIABETE3', 'DIABETE4'],
    'AnyHealthcare': ['HLTHPLN1', '_HLTHPLN'],
    'Income': ['INCOME2', 'INCOME3' ],
    'NoDocbcCost': ['MEDCOST', 'MEDCOST1' ],
    'BMI': ['_BMI5'],
    'Smoker': ['SMOKE100'],
    'Stroke': ['CVDSTRK3'],
    'PhysActivity': ['_TOTINDA' ],
    'GenHlth': ['GENHLTH'],
    'MentHlth': ['MENTHLTH'],
    'PhysHlth': ['PHYSHLTH'],
    'DiffWalk': ['DIFFWALK'],
    'Age':['_AGEG5YR'],
    'Education': ['EDUCA']}

all_column_names = []
for vals in column_name_mapping.values():
    all_column_names += vals
print(all_column_names)

col_to_name_mapping = {}

for key, values in column_name_mapping.items():
    if isinstance(values, list):
        for value in values:
            col_to_name_mapping[value] = key
    elif isinstance(values, str):
        col_to_name_mapping[values] = key

subset_columns = list(set(df.columns) & set(col_to_name_mapping.keys()))
filtered_mapping = {col: col_to_name_mapping[col] for col in subset_columns}
df.rename(columns=filtered_mapping, inplace=True)
df

['_MICHD', 'TOLDHI2', 'TOLDHI3', '_FRTLT1', '_FRTLT1A', '_RFHYPE6', '_RFHYPE5', '_VEGLT1A', '_VEGLT1', '_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3', 'SEX', 'SEX1', 'SEXVAR', '_RFDRHV5', '_RFDRHV6', '_RFDRHV7', '_RFDRHV8', 'DIABETE3', 'DIABETE4', 'HLTHPLN1', '_HLTHPLN', 'INCOME2', 'INCOME3', 'MEDCOST', 'MEDCOST1', '_BMI5', 'SMOKE100', 'CVDSTRK3', '_TOTINDA', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', '_AGEG5YR', 'EDUCA']

,GenHlth,Income,Sex,Stroke,Fruits,CholCheck,BMI,PhysHlth,HighChol,NoDocbcCost,Smoker,HvyAlcoholConsump,Education,Veggies,AnyHealthcare,Diabetes,HeartDiseaseorAttack,MentHlth,HighBP,Age,PhysActivity,DiffWalk
0,2.0,6.0,0.0,0.0,1.0,1.0,27.0,0.0,1.0,0.0,0.0,0.0,6.0,1.0,1.0,2.0,0.0,0.0,1.0,11.0,1.0,1.0
1,2.0,8.0,1.0,0.0,1.0,1.0,29.0,0.0,0.0,0.0,0.0,0.0,6.0,1.0,1.0,0.0,0.0,0.0,1.0,10.0,1.0,0.0
4,4.0,2.0,0.0,0.0,1.0,1.0,23.0,14.0,0.0,0.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
5,3.0,4.0,1.0,0.0,0.0,1.0,27.0,6.0,0.0,0.0,1.0,0.0,4.0,1.0,1.0,0.0,1.0,0.0,1.0,12.0,1.0,0.0
6,3.0,8.0,1.0,0.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450009,3.0,5.0,0.0,0.0,1.0,1.0,37.0,30.0,1.0,0.0,0.0,0.0,6.0,1.0,1.0,0.0,0.0,0.0,1.0,8.0,0.0,1.0
450010,3.0,5.0,1.0,0.0,1.0,1.0,29.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,1.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0
450012,4.0,2.0,1.0,0.0,0.0,1.0,21.0,0.0,1.0,1.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,5.0,1.0,13.0,0.0,1.0
450013,3.0,7.0,1.0,0.0,0.0,1.0,32.0,0.0,1.0,0.0,0.0,0.0,6.0,1.0,1.0,0.0,0.0,0.0,1.0,7.0,0.0,0.0
450015,3.0,6.0,0.0,0.0,0.0,1.0,30.0,0.0,1.0,0.0,0.0,0.0,6.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0

In [62]:
df.to_csv('../indicators_clean/clean_indicators_2017.csv')