In [4]:
import pandas as pd

df = pd.read_csv('filtered_indicators/2019.csv')
pd.set_option('mode.chained_assignment', None)
df

,GENHLTH,INCOME2,CVDSTRK3,_FRTLT1A,_RFDRHV7,_BMI5,_CHOLCH2,PHYSHLTH,TOLDHI2,MEDCOST,...,_VEGLT1A,HLTHPLN1,_MICHD,MENTHLTH,_RFHYPE5,_AGEG5YR,DIABETE4,SEXVAR,_TOTINDA,DIFFWALK
0,3.0,3.0,2.0,1.0,1.0,2817.0,1.0,15.0,1.0,2.0,...,1.0,1.0,2.0,88.0,2.0,13.0,3.0,2.0,2.0,1.0
1,4.0,5.0,2.0,1.0,1.0,1854.0,1.0,10.0,2.0,2.0,...,1.0,1.0,2.0,88.0,1.0,11.0,3.0,2.0,1.0,2.0
2,3.0,7.0,2.0,1.0,1.0,3162.0,1.0,88.0,2.0,2.0,...,1.0,1.0,2.0,30.0,2.0,10.0,1.0,2.0,1.0,1.0
3,4.0,6.0,2.0,9.0,9.0,2030.0,1.0,30.0,2.0,2.0,...,9.0,1.0,2.0,88.0,2.0,13.0,3.0,2.0,9.0,NaN
4,2.0,99.0,2.0,1.0,1.0,2148.0,1.0,88.0,1.0,2.0,...,1.0,1.0,2.0,88.0,1.0,13.0,3.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418263,3.0,1.0,2.0,1.0,1.0,2717.0,1.0,88.0,2.0,2.0,...,2.0,1.0,2.0,88.0,2.0,10.0,1.0,1.0,2.0,2.0
418264,2.0,1.0,2.0,1.0,1.0,2852.0,1.0,88.0,2.0,2.0,...,1.0,1.0,2.0,88.0,1.0,7.0,3.0,2.0,1.0,2.0
418265,2.0,3.0,2.0,1.0,1.0,3175.0,1.0,88.0,1.0,2.0,...,2.0,1.0,2.0,5.0,1.0,1.0,3.0,2.0,1.0,2.0
418266,3.0,99.0,2.0,1.0,1.0,2378.0,1.0,88.0,1.0,2.0,...,1.0,1.0,2.0,88.0,1.0,11.0,3.0,2.0,1.0,2.0
418267,3.0,8.0,2.0,1.0,1.0,1997.0,1.0,88.0,2.0,2.0,...,1.0,1.0,2.0,88.0,1.0,5.0,3.0,2.0,1.0,2.0

In [5]:
#Drop Missing Values - knocks 100,000 rows out right away
original_row_count = df.shape[0]
df = df.dropna()
droped_row_count = df.shape[0]
print(df.shape, "Percentage Droped:  ", ((original_row_count -  droped_row_count)/original_row_count) * 100)

(351875, 22) Percentage Droped:   15.873315673204742

In [6]:
def percentDropped(df_input):
    p =100*( (droped_row_count - df.shape[0]) / droped_row_count)
    return round(p,2)

In [7]:
# _MICHD
#Change 2 to 0 because this means did not have MI or CHD
df['_MICHD'] = df['_MICHD'].replace({2: 0})
print(df._MICHD.unique())

[0. 1.]

In [8]:
#1 _RFHYPE5
#Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
df['_RFHYPE5'] = df['_RFHYPE5'].replace({1:0, 2:1})
df = df[df._RFHYPE5 != 9]
print(df._RFHYPE5.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(350954, 22)     Dropped percent:  0.26     Droped rows:    921

In [9]:
#2 TOLDHI2
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['TOLDHI2'] = df['TOLDHI2'].replace({2:0})
df = df[df.TOLDHI2 != 7]
df = df[df.TOLDHI2 != 9]
print(df.TOLDHI2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(347457, 22)     Dropped percent:  1.26     Droped rows:    4418

In [11]:
#3 _CHOLCHK
# Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# Remove 9
df['_CHOLCH2'] = df['_CHOLCH2'].replace({3:0,2:0})
df = df[df._CHOLCH2 != 9]
print(df._CHOLCH2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(327897, 22)     Dropped percent:  6.81     Droped rows:    23978

In [12]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
df['_BMI5'] = df['_BMI5'].div(100).round(0)
df._BMI5.unique()

array([ 28.,  19.,  32.,  21.,  33.,  31.,  24.,  17.,  22.,  23.,  26.,
        25.,  27.,  35.,  36.,  30.,  16.,  34.,  41.,  29.,  37.,  20.,
        42.,  39.,  55.,  38.,  40.,  43.,  18.,  50.,  12.,  45.,  53.,
        48.,  47.,  44.,  52.,  46.,  51.,  57.,  49.,  74.,  59.,  60.,
        15.,  14.,  54.,  58.,  61.,  63.,  67.,  13.,  70.,  72.,  56.,
        62.,  64.,  68.,  69.,  71.,  76.,  73.,  66.,  65.,  92.,  86.,
        77.,  75.,  79.,  80.,  82., 100.,  84.,  87.,  88.,  81.,  78.,
        97.,  89.,  83.,  99.,  96.,  91.,  98.,  95.,  90.,  94.,  85.])

In [13]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['SMOKE100'] = df['SMOKE100'].replace({2:0})
df = df[df.SMOKE100 != 7]
df = df[df.SMOKE100 != 9]
print(df.SMOKE100.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(326226, 22)     Dropped percent:  7.29     Droped rows:    25649

In [14]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['CVDSTRK3'] = df['CVDSTRK3'].replace({2:0})
df = df[df.CVDSTRK3 != 7]
df = df[df.CVDSTRK3 != 9]
print(df.CVDSTRK3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(325524, 22)     Dropped percent:  7.49     Droped rows:    26351

In [16]:
#7 DIABETE3
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['DIABETE4'] = df['DIABETE4'].replace({2:0, 3:0, 1:2, 4:1})
df = df[df.DIABETE4 != 7]
df = df[df.DIABETE4 != 9]
print(df.DIABETE4.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 2. 1.]
(325150, 22)     Dropped percent:  7.6     Droped rows:    26725

In [17]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df['_TOTINDA'] = df['_TOTINDA'].replace({2:0})
df = df[df._TOTINDA != 9]
print(df._TOTINDA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(321004, 22)     Dropped percent:  8.77     Droped rows:    30871

In [18]:
#9 _FRTLT1
# Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# remove all dont knows and missing 9
df['_FRTLT1A'] = df['_FRTLT1A'].replace({2:0})
df = df[df._FRTLT1A != 9]
print(df._FRTLT1A.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(305002, 22)     Dropped percent:  13.32     Droped rows:    46873

In [19]:
#10 _VEGLT1
# Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# remove all dont knows and missing 9
df['_VEGLT1'] = df['_VEGLT1A'].replace({2:0})
df = df[df._VEGLT1 != 9]
print(df._VEGLT1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(294051, 23)     Dropped percent:  16.43     Droped rows:    57824

In [21]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df['_RFDRHV7'] = df['_RFDRHV7'].replace({1:0, 2:1})
df = df[df._RFDRHV7 != 9]
print(df._RFDRHV7.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(290101, 23)     Dropped percent:  17.56     Droped rows:    61774

In [22]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df['HLTHPLN1'] = df['HLTHPLN1'].replace({2:0})
df = df[df.HLTHPLN1 != 7]
df = df[df.HLTHPLN1 != 9]
print(df.HLTHPLN1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(289378, 23)     Dropped percent:  17.76     Droped rows:    62497

In [23]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df['MEDCOST'] = df['MEDCOST'].replace({2:0})
df = df[df.MEDCOST != 7]
df = df[df.MEDCOST != 9]
print(df.MEDCOST.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(288942, 23)     Dropped percent:  17.89     Droped rows:    62933

In [24]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df = df[df.GENHLTH != 7]
df = df[df.GENHLTH != 9]
print(df.GENHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[3. 4. 2. 1. 5.]
(288576, 23)     Dropped percent:  17.99     Droped rows:    63299

In [25]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['MENTHLTH'] = df['MENTHLTH'].replace({88:0})
df = df[df.MENTHLTH != 77]
df = df[df.MENTHLTH != 99]
print(df.MENTHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0. 30.  4.  1.  2. 15.  5.  7. 10.  3. 25.  6. 21. 20.  8. 14. 17. 28.
 12. 16. 27. 23. 26. 29. 24.  9. 13. 18. 22. 11. 19.]
(284509, 23)     Dropped percent:  19.14     Droped rows:    67366

In [26]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['PHYSHLTH'] = df['PHYSHLTH'].replace({88:0})
df = df[df.PHYSHLTH != 77]
df = df[df.PHYSHLTH != 99]
print(df.PHYSHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[15. 10.  0. 30. 20.  2.  1.  7. 14.  3.  5. 25.  4.  6. 28. 21. 17.  8.
 16. 27. 12. 23. 18. 13. 29. 19.  9. 24. 26. 11. 22.]
(280935, 23)     Dropped percent:  20.16     Droped rows:    70940

In [27]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df['DIFFWALK'] = df['DIFFWALK'].replace({2:0})
df = df[df.DIFFWALK != 7]
df = df[df.DIFFWALK != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(280318, 23)     Dropped percent:  20.34     Droped rows:    71557

In [31]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df['SEXVAR'] = df['SEXVAR'].replace({2:0})
df = df[df.SEXVAR != 9]
print(df.SEXVAR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(280318, 23)     Dropped percent:  20.34     Droped rows:    71557

In [32]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df = df[df._AGEG5YR != 14]
print(df._AGEG5YR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[13. 11. 10.  8. 12.  7.  6.  5.  9.  4.  3.  2.  1.]
(278197, 23)     Dropped percent:  20.94     Droped rows:    73678

In [33]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df = df[df.EDUCA != 9]
print(df.EDUCA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[3. 5. 6. 2. 4. 1.]
(277893, 23)     Dropped percent:  21.03     Droped rows:    73982

In [34]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df = df[df.INCOME2 != 77]
df = df[df.INCOME2 != 99]
print(df.INCOME2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[3. 5. 7. 8. 6. 4. 2. 1.]
(243317, 23)     Dropped percent:  30.85     Droped rows:    108558

In [35]:
print(df.shape,  "Percent Dropped From Start: ", round(((original_row_count - df.shape[0]) / original_row_count) * 100, 2), " Original Row Count: ", original_row_count)

(243317, 23) Percent Dropped From Start:  41.83  Original Row Count:  418268

In [36]:
#Check Class Sizes of the heart disease column  Note the class imbalance!
print(df.groupby(['_MICHD']).size())
grp =df.groupby(['_MICHD'])
percent_yes = 100*(grp.size()[1.0] / grp.size().sum())
print("Percent Yes (1.0): ",  round(percent_yes, 2))

_MICHD
0.0    220821
1.0     22496
dtype: int64
Percent Yes (1.0):  9.25

In [38]:
column_name_mapping = {

    'HeartDiseaseorAttack':['_MICHD'],
    'HighChol': ['TOLDHI2', 'TOLDHI3'],
    'Fruits': ['_FRTLT1', '_FRTLT1A'],
    'HighBP': ['_RFHYPE6', '_RFHYPE5'],
    "Veggies": ['_VEGLT1A', '_VEGLT1' ],
    'CholCheck': ['_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3' ],
    'Sex':['SEX', 'SEX1', 'SEXVAR'],
    'HvyAlcoholConsump': ['_RFDRHV5','_RFDRHV6', '_RFDRHV7', '_RFDRHV8'],
    'Diabetes': ['DIABETE3', 'DIABETE4'],
    'AnyHealthcare': ['HLTHPLN1', '_HLTHPLN'],
    'Income': ['INCOME2', 'INCOME3' ],
    'NoDocbcCost': ['MEDCOST', 'MEDCOST1' ],
    'BMI': ['_BMI5'],
    'Smoker': ['SMOKE100'],
    'Stroke': ['CVDSTRK3'],
    'PhysActivity': ['_TOTINDA' ],
    'GenHlth': ['GENHLTH'],
    'MentHlth': ['MENTHLTH'],
    'PhysHlth': ['PHYSHLTH'],
    'DiffWalk': ['DIFFWALK'],
    'Age':['_AGEG5YR'],
    'Education': ['EDUCA']}

all_column_names = []
for vals in column_name_mapping.values():
    all_column_names += vals
print(all_column_names)

col_to_name_mapping = {}

for key, values in column_name_mapping.items():
    if isinstance(values, list):
        for value in values:
            col_to_name_mapping[value] = key
    elif isinstance(values, str):
        col_to_name_mapping[values] = key

subset_columns = list(set(df.columns) & set(col_to_name_mapping.keys()))
filtered_mapping = {col: col_to_name_mapping[col] for col in subset_columns}
df.rename(columns=filtered_mapping, inplace=True)
df

['_MICHD', 'TOLDHI2', 'TOLDHI3', '_FRTLT1', '_FRTLT1A', '_RFHYPE6', '_RFHYPE5', '_VEGLT1A', '_VEGLT1', '_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3', 'SEX', 'SEX1', 'SEXVAR', '_RFDRHV5', '_RFDRHV6', '_RFDRHV7', '_RFDRHV8', 'DIABETE3', 'DIABETE4', 'HLTHPLN1', '_HLTHPLN', 'INCOME2', 'INCOME3', 'MEDCOST', 'MEDCOST1', '_BMI5', 'SMOKE100', 'CVDSTRK3', '_TOTINDA', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', '_AGEG5YR', 'EDUCA']

,GenHlth,Income,Stroke,Fruits,HvyAlcoholConsump,BMI,CholCheck,PhysHlth,HighChol,NoDocbcCost,...,AnyHealthcare,HeartDiseaseorAttack,MentHlth,HighBP,Age,Diabetes,Sex,PhysActivity,DiffWalk,Veggies
0,3.0,3.0,0.0,1.0,0.0,28.0,1.0,15.0,1.0,0.0,...,1.0,0.0,0.0,1.0,13.0,0.0,0.0,0.0,1.0,1.0
1,4.0,5.0,0.0,1.0,0.0,19.0,1.0,10.0,0.0,0.0,...,1.0,0.0,0.0,0.0,11.0,0.0,0.0,1.0,0.0,1.0
2,3.0,7.0,0.0,1.0,0.0,32.0,1.0,0.0,0.0,0.0,...,1.0,0.0,30.0,1.0,10.0,2.0,0.0,1.0,1.0,1.0
6,2.0,7.0,0.0,1.0,0.0,33.0,1.0,30.0,0.0,0.0,...,1.0,0.0,0.0,0.0,11.0,2.0,1.0,1.0,1.0,1.0
9,5.0,3.0,0.0,0.0,0.0,17.0,1.0,20.0,1.0,0.0,...,1.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418262,1.0,4.0,0.0,0.0,0.0,26.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
418263,3.0,1.0,0.0,1.0,0.0,27.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,10.0,2.0,1.0,0.0,0.0,0.0
418264,2.0,1.0,0.0,1.0,0.0,29.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,7.0,0.0,0.0,1.0,0.0,1.0
418265,2.0,3.0,0.0,1.0,0.0,32.0,1.0,0.0,1.0,0.0,...,1.0,0.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
418267,3.0,8.0,0.0,1.0,0.0,20.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
df.to_csv('indicators_clean/clean_indicators_2019.csv')