In [1]:
import pandas as pd

df = pd.read_csv('filtered_indicators/2022.csv')
pd.set_option('mode.chained_assignment', None)
df

,_RFDRHV8,GENHLTH,INCOME3,_HLTHPLN,CVDSTRK3,PHYSHLTH,MEDCOST1,SMOKE100,_MICHD,MENTHLTH,EDUCA,_AGEG5YR,DIABETE4,SEXVAR,_TOTINDA,DIFFWALK,_BMI5
0,1.0,2.0,99.0,9.0,2.0,88.0,2.0,2.0,2.0,88.0,6.0,13.0,1.0,2.0,2.0,2.0,NaN
1,1.0,1.0,5.0,1.0,2.0,88.0,2.0,2.0,2.0,88.0,4.0,13.0,3.0,2.0,2.0,2.0,2657.0
2,1.0,2.0,10.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,6.0,8.0,3.0,2.0,1.0,2.0,2561.0
3,1.0,1.0,77.0,9.0,2.0,88.0,2.0,1.0,2.0,88.0,4.0,14.0,3.0,2.0,1.0,2.0,2330.0
4,1.0,4.0,5.0,1.0,2.0,2.0,2.0,2.0,2.0,88.0,5.0,5.0,3.0,2.0,1.0,2.0,2177.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,9.0,3.0,1.0,1.0,2.0,88.0,2.0,2.0,2.0,3.0,4.0,1.0,3.0,2.0,1.0,2.0,2563.0
445128,1.0,1.0,7.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,7.0,3.0,2.0,1.0,2.0,2866.0
445129,9.0,5.0,77.0,2.0,2.0,30.0,1.0,1.0,2.0,30.0,4.0,10.0,3.0,2.0,2.0,2.0,1723.0
445130,1.0,2.0,8.0,1.0,2.0,88.0,2.0,2.0,1.0,88.0,5.0,11.0,3.0,1.0,2.0,2.0,3255.0
445131,9.0,2.0,4.0,2.0,2.0,88.0,1.0,1.0,2.0,1.0,3.0,5.0,3.0,1.0,1.0,1.0,2260.0

In [2]:
#Drop Missing Values - knocks 100,000 rows out right away
original_row_count = df.shape[0]
df = df.dropna()
droped_row_count = df.shape[0]
print(df.shape, "Percentage Droped:  ", ((original_row_count -  droped_row_count)/original_row_count) * 100)

(380530, 17) Percentage Droped:   14.512998391488368

In [3]:
def percentDropped(df_input):
    p =100*( (droped_row_count - df.shape[0]) / droped_row_count)
    return round(p,2)

In [4]:
# _MICHD
#Change 2 to 0 because this means did not have MI or CHD
df['_MICHD'] = df['_MICHD'].replace({2: 0})
print(df._MICHD.unique())

[0. 1.]

In [5]:
# #1 _RFHYPE5
# #Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
# df['_RFHYPE5'] = df['_RFHYPE5'].replace({1:0, 2:1})
# df = df[df._RFHYPE5 != 9]
# print(df._RFHYPE5.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [6]:
# #2 TOLDHI2
# # Change 2 to 0 because it is No
# # Remove all 7 (dont knows)
# # Remove all 9 (refused)
# df['TOLDHI3'] = df['TOLDHI3'].replace({2:0})
# df = df[df.TOLDHI3 != 7]
# df = df[df.TOLDHI3 != 9]
# print(df.TOLDHI3.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [7]:
# #3 _CHOLCHK
# # Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# # Remove 9
# df['_CHOLCH1'] = df['_CHOLCH1'].replace({3:0,2:0})
# df = df[df._CHOLCH1 != 9]
# print(df._CHOLCH1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [8]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
df['_BMI5'] = df['_BMI5'].div(100).round(0)
df._BMI5.unique()

array([ 27.,  26.,  23.,  22.,  28.,  29.,  33.,  25.,  32.,  45.,  24.,
        37.,  31.,  39.,  34.,  19.,  21.,  35.,  38.,  20.,  46.,  13.,
        30.,  41.,  36.,  17.,  57.,  47.,  43.,  51.,  18.,  44.,  40.,
        50.,  52.,  56.,  42.,  58.,  16.,  49.,  54.,  15.,  92.,  60.,
        53.,  48.,  59.,  62.,  55.,  61.,  77.,  68.,  14.,  86.,  63.,
        66.,  79.,  64.,  73.,  75.,  69.,  71.,  74.,  12.,  85.,  95.,
        67.,  72.,  65.,  76.,  91.,  89.,  70.,  93.,  98.,  80.,  81.,
        82.,  96.,  78.,  83.,  87.,  90.,  88.,  84.,  94.,  97., 100.])

In [9]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['SMOKE100'] = df['SMOKE100'].replace({2:0})
df = df[df.SMOKE100 != 7]
df = df[df.SMOKE100 != 9]
print(df.SMOKE100.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(378240, 17)     Dropped percent:  0.6     Droped rows:    2290

In [10]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['CVDSTRK3'] = df['CVDSTRK3'].replace({2:0})
df = df[df.CVDSTRK3 != 7]
df = df[df.CVDSTRK3 != 9]
print(df.CVDSTRK3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(377379, 17)     Dropped percent:  0.83     Droped rows:    3151

In [11]:
#7 DIABETE3
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['DIABETE4'] = df['DIABETE4'].replace({2:0, 3:0, 1:2, 4:1})
df = df[df.DIABETE4 != 7]
df = df[df.DIABETE4 != 9]
print(df.DIABETE4.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 2. 1.]
(376829, 17)     Dropped percent:  0.97     Droped rows:    3701

In [12]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df['_TOTINDA'] = df['_TOTINDA'].replace({2:0})
df = df[df._TOTINDA != 9]
print(df._TOTINDA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(376149, 17)     Dropped percent:  1.15     Droped rows:    4381

In [13]:
df.head()

,_RFDRHV8,GENHLTH,INCOME3,_HLTHPLN,CVDSTRK3,PHYSHLTH,MEDCOST1,SMOKE100,_MICHD,MENTHLTH,EDUCA,_AGEG5YR,DIABETE4,SEXVAR,_TOTINDA,DIFFWALK,_BMI5
1,1.0,1.0,5.0,1.0,0.0,88.0,2.0,0.0,0.0,88.0,4.0,13.0,0.0,2.0,0.0,2.0,27.0
2,1.0,2.0,10.0,1.0,0.0,2.0,2.0,0.0,0.0,3.0,6.0,8.0,0.0,2.0,1.0,2.0,26.0
3,1.0,1.0,77.0,9.0,0.0,88.0,2.0,1.0,0.0,88.0,4.0,14.0,0.0,2.0,1.0,2.0,23.0
4,1.0,4.0,5.0,1.0,0.0,2.0,2.0,0.0,0.0,88.0,5.0,5.0,0.0,2.0,1.0,2.0,22.0
5,1.0,5.0,99.0,1.0,1.0,1.0,2.0,0.0,1.0,88.0,4.0,13.0,2.0,1.0,0.0,2.0,26.0

In [14]:
# #9 _FRTLT1
# # Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# # remove all dont knows and missing 9
# df['_FRTLT1'] = df['_FRTLT1'].replace({2:0})
# df = df[df._FRTLT1 != 9]
# print(df._FRTLT1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [15]:
# #10 _VEGLT1
# # Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# # remove all dont knows and missing 9
# df['_VEGLT1'] = df['_VEGLT1A'].replace({2:0})
# df = df[df._VEGLT1 != 9]
# print(df._VEGLT1.unique())
# print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

In [17]:
df.columns

Index(['_RFDRHV8', 'GENHLTH', 'INCOME3', '_HLTHPLN', 'CVDSTRK3', 'PHYSHLTH',
       'MEDCOST1', 'SMOKE100', '_MICHD', 'MENTHLTH', 'EDUCA', '_AGEG5YR',
       'DIABETE4', 'SEXVAR', '_TOTINDA', 'DIFFWALK', '_BMI5'],
      dtype='object')

In [18]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df['_RFDRHV8'] = df['_RFDRHV8'].replace({1:0, 2:1})
df = df[df._RFDRHV8 != 9]
print(df._RFDRHV8.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(361846, 17)     Dropped percent:  4.91     Droped rows:    18684

In [21]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df['_HLTHPLN'] = df['_HLTHPLN'].replace({2:0})
df = df[df._HLTHPLN != 7]
df = df[df._HLTHPLN != 9]
print(df._HLTHPLN.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(350653, 17)     Dropped percent:  7.85     Droped rows:    29877

In [23]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df['MEDCOST1'] = df['MEDCOST1'].replace({2:0})
df = df[df.MEDCOST1 != 7]
df = df[df.MEDCOST1 != 9]
print(df.MEDCOST1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(349860, 17)     Dropped percent:  8.06     Droped rows:    30670

In [24]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df = df[df.GENHLTH != 7]
df = df[df.GENHLTH != 9]
print(df.GENHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 2. 4. 5. 3.]
(349238, 17)     Dropped percent:  8.22     Droped rows:    31292

In [25]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['MENTHLTH'] = df['MENTHLTH'].replace({88:0})
df = df[df.MENTHLTH != 77]
df = df[df.MENTHLTH != 99]
print(df.MENTHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0.  3.  9.  5. 15. 20. 14. 10. 18.  1.  2. 30.  4.  6.  7. 25.  8. 27.
 21. 12. 16. 13. 28. 29. 26. 17. 11. 23. 19. 22. 24.]
(343874, 17)     Dropped percent:  9.63     Droped rows:    36656

In [26]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['PHYSHLTH'] = df['PHYSHLTH'].replace({88:0})
df = df[df.PHYSHLTH != 77]
df = df[df.PHYSHLTH != 99]
print(df.PHYSHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0.  2.  1.  8.  5. 30.  4. 23. 14. 15.  3. 10.  7. 25.  6. 21. 20. 29.
 16.  9. 27. 28. 12. 13. 11. 26. 17. 24. 18. 19. 22.]
(338706, 17)     Dropped percent:  10.99     Droped rows:    41824

In [27]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df['DIFFWALK'] = df['DIFFWALK'].replace({2:0})
df = df[df.DIFFWALK != 7]
df = df[df.DIFFWALK != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(337902, 17)     Dropped percent:  11.2     Droped rows:    42628

In [29]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df['SEXVAR'] = df['SEXVAR'].replace({2:0})
df = df[df.SEXVAR != 9]
print(df.SEXVAR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(337902, 17)     Dropped percent:  11.2     Droped rows:    42628

In [30]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df = df[df._AGEG5YR != 14]
print(df._AGEG5YR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[13.  8.  5. 11. 10.  9. 12.  7.  6.  4.  3.  2.  1.]
(334924, 17)     Dropped percent:  11.98     Droped rows:    45606

In [31]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df = df[df.EDUCA != 9]
print(df.EDUCA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[4. 6. 5. 3. 2. 1.]
(334439, 17)     Dropped percent:  12.11     Droped rows:    46091

In [33]:
df.columns

Index(['_RFDRHV8', 'GENHLTH', 'INCOME3', '_HLTHPLN', 'CVDSTRK3', 'PHYSHLTH',
       'MEDCOST1', 'SMOKE100', '_MICHD', 'MENTHLTH', 'EDUCA', '_AGEG5YR',
       'DIABETE4', 'SEXVAR', '_TOTINDA', 'DIFFWALK', '_BMI5'],
      dtype='object')

In [34]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df = df[df.INCOME3 != 77]
df = df[df.INCOME3 != 99]
df.loc[df['INCOME3'] > 7, 'INCOME3'] = 7
print(df.INCOME3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[5. 7. 6. 2. 4. 3. 1.]
(286769, 17)     Dropped percent:  24.64     Droped rows:    93761

In [35]:
print(df.shape,  "Percent Dropped From Start: ", round(((original_row_count - df.shape[0]) / original_row_count) * 100, 2), " Original Row Count: ", original_row_count)

(286769, 17) Percent Dropped From Start:  35.58  Original Row Count:  445132

In [36]:
#Check Class Sizes of the heart disease column  Note the class imbalance!
print(df.groupby(['_MICHD']).size())
grp =df.groupby(['_MICHD'])
percent_yes = 100*(grp.size()[1.0] / grp.size().sum())
print("Percent Yes (1.0): ",  round(percent_yes, 2))

_MICHD
0.0    261108
1.0     25661
dtype: int64
Percent Yes (1.0):  8.95

In [37]:
column_name_mapping = {

    'HeartDiseaseorAttack':['_MICHD'],
    'HighChol': ['TOLDHI2', 'TOLDHI3'],
    'Fruits': ['_FRTLT1', '_FRTLT1A'],
    'HighBP': ['_RFHYPE6', '_RFHYPE5'],
    "Veggies": ['_VEGLT1A', '_VEGLT1' ],
    'CholCheck': ['_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3' ],
    'Sex':['SEX', 'SEX1', 'SEXVAR'],
    'HvyAlcoholConsump': ['_RFDRHV5','_RFDRHV6', '_RFDRHV7', '_RFDRHV8'],
    'Diabetes': ['DIABETE3', 'DIABETE4'],
    'AnyHealthcare': ['HLTHPLN1', '_HLTHPLN'],
    'Income': ['INCOME2', 'INCOME3' ],
    'NoDocbcCost': ['MEDCOST', 'MEDCOST1' ],
    'BMI': ['_BMI5'],
    'Smoker': ['SMOKE100'],
    'Stroke': ['CVDSTRK3'],
    'PhysActivity': ['_TOTINDA' ],
    'GenHlth': ['GENHLTH'],
    'MentHlth': ['MENTHLTH'],
    'PhysHlth': ['PHYSHLTH'],
    'DiffWalk': ['DIFFWALK'],
    'Age':['_AGEG5YR'],
    'Education': ['EDUCA']}

all_column_names = []
for vals in column_name_mapping.values():
    all_column_names += vals
print(all_column_names)

col_to_name_mapping = {}

for key, values in column_name_mapping.items():
    if isinstance(values, list):
        for value in values:
            col_to_name_mapping[value] = key
    elif isinstance(values, str):
        col_to_name_mapping[values] = key

subset_columns = list(set(df.columns) & set(col_to_name_mapping.keys()))
filtered_mapping = {col: col_to_name_mapping[col] for col in subset_columns}
df.rename(columns=filtered_mapping, inplace=True)
df

['_MICHD', 'TOLDHI2', 'TOLDHI3', '_FRTLT1', '_FRTLT1A', '_RFHYPE6', '_RFHYPE5', '_VEGLT1A', '_VEGLT1', '_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3', 'SEX', 'SEX1', 'SEXVAR', '_RFDRHV5', '_RFDRHV6', '_RFDRHV7', '_RFDRHV8', 'DIABETE3', 'DIABETE4', 'HLTHPLN1', '_HLTHPLN', 'INCOME2', 'INCOME3', 'MEDCOST', 'MEDCOST1', '_BMI5', 'SMOKE100', 'CVDSTRK3', '_TOTINDA', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', '_AGEG5YR', 'EDUCA']

,HvyAlcoholConsump,GenHlth,Income,AnyHealthcare,Stroke,PhysHlth,NoDocbcCost,Smoker,HeartDiseaseorAttack,MentHlth,Education,Age,Diabetes,Sex,PhysActivity,DiffWalk,BMI
1,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,0.0,0.0,0.0,0.0,27.0
2,0.0,2.0,7.0,1.0,0.0,2.0,0.0,0.0,0.0,3.0,6.0,8.0,0.0,0.0,1.0,0.0,26.0
4,0.0,4.0,5.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,1.0,0.0,22.0
6,0.0,2.0,7.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,6.0,13.0,0.0,0.0,1.0,0.0,23.0
7,0.0,3.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,0.0,0.0,0.0,0.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445123,0.0,4.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,6.0,2.0,0.0,0.0,1.0,0.0,24.0
445124,0.0,3.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,15.0,6.0,10.0,2.0,1.0,1.0,0.0,30.0
445126,0.0,3.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0,1.0,1.0,0.0,31.0
445128,0.0,1.0,7.0,1.0,0.0,2.0,0.0,0.0,0.0,2.0,6.0,7.0,0.0,0.0,1.0,0.0,29.0
445130,0.0,2.0,7.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,11.0,0.0,1.0,0.0,0.0,33.0

In [38]:
df.to_csv('indicators_clean/clean_indicators_2022.csv')