In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('filtered_indicators/2016.csv')
pd.set_option('mode.chained_assignment', None)
df

,GENHLTH,INCOME2,SEX,CVDSTRK3,PHYSHLTH,DIABETE3,MEDCOST,SMOKE100,_RFDRHV5,_MICHD,MENTHLTH,EDUCA,_AGEG5YR,HLTHPLN1,_TOTINDA,DIFFWALK,_BMI5
0,1.0,5.0,1.0,2.0,88.0,3.0,2.0,2.0,1.0,2.0,88.0,4.0,5.0,1.0,1.0,2.0,2053.0
1,2.0,7.0,2.0,2.0,88.0,3.0,2.0,2.0,1.0,2.0,88.0,4.0,8.0,1.0,1.0,2.0,2710.0
2,3.0,7.0,2.0,2.0,88.0,3.0,2.0,1.0,1.0,1.0,1.0,5.0,13.0,1.0,1.0,2.0,1997.0
3,3.0,7.0,1.0,2.0,88.0,1.0,2.0,1.0,1.0,2.0,88.0,6.0,11.0,1.0,1.0,2.0,2903.0
4,5.0,77.0,1.0,2.0,10.0,3.0,2.0,2.0,1.0,2.0,3.0,4.0,1.0,1.0,1.0,2.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486298,2.0,1.0,2.0,2.0,88.0,3.0,2.0,NaN,9.0,2.0,88.0,3.0,3.0,2.0,2.0,NaN,2832.0
486299,3.0,99.0,1.0,2.0,2.0,3.0,2.0,2.0,9.0,2.0,88.0,4.0,5.0,2.0,1.0,2.0,2319.0
486300,4.0,4.0,2.0,2.0,30.0,3.0,1.0,1.0,1.0,2.0,10.0,5.0,9.0,1.0,2.0,2.0,4196.0
486301,2.0,4.0,2.0,2.0,88.0,3.0,1.0,2.0,1.0,2.0,88.0,4.0,7.0,1.0,1.0,2.0,3712.0
486302,1.0,1.0,2.0,2.0,88.0,3.0,1.0,2.0,2.0,2.0,88.0,2.0,8.0,2.0,2.0,2.0,2575.0

In [30]:
#Drop Missing Values - knocks 100,000 rows out right away
original_row_count = df.shape[0]
df = df.dropna()
droped_row_count = df.shape[0]
print(df.shape, "Percentage Droped:  ", ((original_row_count -  droped_row_count)/original_row_count) * 100)

(435742, 17) Percentage Droped:   10.39701585225672

In [31]:
def percentDropped(df_input):
    p =100*( (droped_row_count - df.shape[0]) / droped_row_count)
    return round(p,2)

In [32]:
# _MICHD
#Change 2 to 0 because this means did not have MI or CHD
df['_MICHD'] = df['_MICHD'].replace({2: 0})
df._MICHD.value_counts()

_MICHD
0.0    393728
1.0     42014
Name: count, dtype: int64

In [35]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
df['_BMI5'] = df['_BMI5'].div(100).round(0)
df._BMI5.unique()

array([ 21.,  27.,  20.,  29.,  25.,  35.,  32.,  31.,  23.,  33.,  26.,
        28.,  30.,  34.,  24.,  22.,  36.,  40.,  42.,  41.,  39.,  37.,
        44.,  19.,  18.,  38.,  43.,  52.,  45.,  46.,  60.,  47.,  50.,
        15.,  17.,  16.,  48.,  49.,  73.,  51.,  59.,  53.,  14.,  58.,
        62.,  57.,  54.,  55.,  67.,  68.,  13.,  56.,  63.,  66.,  64.,
        77.,  95.,  69.,  70.,  12.,  79.,  92.,  65.,  61.,  71.,  72.,
        76.,  74.,  86.,  87.,  89.,  97.,  78., 100.,  75.,  85.,  81.,
        84.,  80.,  88.,  82.,  91.,  98.,  83.,  94.])

In [36]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['SMOKE100'] = df['SMOKE100'].replace({2:0})
df = df[df.SMOKE100 != 7]
df = df[df.SMOKE100 != 9]
print(df.SMOKE100.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(433382, 17)     Dropped percent:  0.54     Droped rows:    2360

In [37]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['CVDSTRK3'] = df['CVDSTRK3'].replace({2:0})
df = df[df.CVDSTRK3 != 7]
df = df[df.CVDSTRK3 != 9]
print(df.CVDSTRK3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(432527, 17)     Dropped percent:  0.74     Droped rows:    3215

In [38]:
#7 DIABETE3
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['DIABETE3'] = df['DIABETE3'].replace({2:0, 3:0, 1:2, 4:1})
df = df[df.DIABETE3 != 7]
df = df[df.DIABETE3 != 9]
print(df.DIABETE3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 2. 1.]
(432037, 17)     Dropped percent:  0.85     Droped rows:    3705

In [39]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df['_TOTINDA'] = df['_TOTINDA'].replace({2:0})
df = df[df._TOTINDA != 9]
print(df._TOTINDA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(431449, 17)     Dropped percent:  0.99     Droped rows:    4293

In [41]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df['_RFDRHV5'] = df['_RFDRHV5'].replace({1:0, 2:1})
df = df[df._RFDRHV5 != 9]
print(df._RFDRHV5.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(421410, 17)     Dropped percent:  3.29     Droped rows:    14332

In [42]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df['HLTHPLN1'] = df['HLTHPLN1'].replace({2:0})
df = df[df.HLTHPLN1 != 7]
df = df[df.HLTHPLN1 != 9]
print(df.HLTHPLN1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(420141, 17)     Dropped percent:  3.58     Droped rows:    15601

In [43]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df['MEDCOST'] = df['MEDCOST'].replace({2:0})
df = df[df.MEDCOST != 7]
df = df[df.MEDCOST != 9]
print(df.MEDCOST.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(419308, 17)     Dropped percent:  3.77     Droped rows:    16434

In [44]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df = df[df.GENHLTH != 7]
df = df[df.GENHLTH != 9]
print(df.GENHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 2. 3. 5. 4.]
(418432, 17)     Dropped percent:  3.97     Droped rows:    17310

In [45]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['MENTHLTH'] = df['MENTHLTH'].replace({88:0})
df = df[df.MENTHLTH != 77]
df = df[df.MENTHLTH != 99]
print(df.MENTHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0.  1.  3. 30.  5.  2. 10. 26. 15. 25.  4. 20.  7. 14. 12.  8. 29.  9.
 13.  6. 16. 22. 21. 28. 18. 23. 17. 11. 27. 24. 19.]
(412961, 17)     Dropped percent:  5.23     Droped rows:    22781

In [46]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['PHYSHLTH'] = df['PHYSHLTH'].replace({88:0})
df = df[df.PHYSHLTH != 77]
df = df[df.PHYSHLTH != 99]
print(df.PHYSHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 0. 10. 30.  1. 20.  6.  7.  4. 21. 14.  2. 25.  3. 15.  5.  8. 13. 28.
  9. 12. 29. 26. 17. 16. 18. 23. 19. 27. 11. 22. 24.]
(407163, 17)     Dropped percent:  6.56     Droped rows:    28579

In [47]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df['DIFFWALK'] = df['DIFFWALK'].replace({2:0})
df = df[df.DIFFWALK != 7]
df = df[df.DIFFWALK != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(406127, 17)     Dropped percent:  6.8     Droped rows:    29615

In [49]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df['SEX'] = df['SEX'].replace({2:0})
df = df[df.SEX != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(406113, 17)     Dropped percent:  6.8     Droped rows:    29629

In [50]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df = df[df._AGEG5YR != 14]
print(df._AGEG5YR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[ 5.  8. 13. 11.  1. 12. 10.  7.  4.  3.  9.  2.  6.]
(403355, 17)     Dropped percent:  7.43     Droped rows:    32387

In [51]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df = df[df.EDUCA != 9]
print(df.EDUCA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[4. 5. 6. 2. 3. 1.]
(402832, 17)     Dropped percent:  7.55     Droped rows:    32910

In [52]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df = df[df.INCOME2 != 77]
df = df[df.INCOME2 != 99]
print(df.INCOME2.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[5. 7. 8. 6. 1. 4. 3. 2.]
(352588, 17)     Dropped percent:  19.08     Droped rows:    83154

In [54]:
#Check the shape of the dataset now: We have 253,680 cleaned rows and 22 columns (1 of which is our dependent variable)
print(df.shape,  "Percent Dropped From Start: ", round(((original_row_count - df.shape[0]) / original_row_count) * 100, 2), " Original Row Count: ", original_row_count)

(352588, 17) Percent Dropped From Start:  27.5  Original Row Count:  486303

In [55]:
#Check Class Sizes of the heart disease column  Note the class imbalance!
print(df.groupby(['_MICHD']).size())
grp =df.groupby(['_MICHD'])
percent_yes = 100*(grp.size()[1.0] / grp.size().sum())
print("Percent Yes (1.0): ",  round(percent_yes, 2))

_MICHD
0.0    319952
1.0     32636
dtype: int64
Percent Yes (1.0):  9.26

In [56]:
df

,GENHLTH,INCOME2,SEX,CVDSTRK3,PHYSHLTH,DIABETE3,MEDCOST,SMOKE100,_RFDRHV5,_MICHD,MENTHLTH,EDUCA,_AGEG5YR,HLTHPLN1,_TOTINDA,DIFFWALK,_BMI5
0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,1.0,1.0,0.0,21.0
1,2.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,8.0,1.0,1.0,0.0,27.0
2,3.0,7.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,5.0,13.0,1.0,1.0,0.0,20.0
3,3.0,7.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,6.0,11.0,1.0,1.0,0.0,29.0
7,3.0,7.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0,12.0,1.0,1.0,1.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486296,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,1.0,0.0,0.0,23.0
486297,2.0,6.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,3.0,6.0,6.0,0.0,1.0,0.0,32.0
486300,4.0,4.0,0.0,0.0,30.0,0.0,1.0,1.0,0.0,0.0,10.0,5.0,9.0,1.0,0.0,0.0,42.0
486301,2.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,7.0,1.0,1.0,0.0,37.0
486302,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,8.0,0.0,0.0,0.0,26.0

In [58]:
column_name_mapping = {

    'HeartDiseaseorAttack':['_MICHD'],
    'HighChol': ['TOLDHI2', 'TOLDHI3'],
    'Fruits': ['_FRTLT1', '_FRTLT1A'],
    'HighBP': ['_RFHYPE6', '_RFHYPE5'],
    "Veggies": ['_VEGLT1A', '_VEGLT1' ],
    'CholCheck': ['_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3' ],
    'Sex':['SEX', 'SEX1', 'SEXVAR'],
    'HvyAlcoholConsump': ['_RFDRHV5','_RFDRHV6', '_RFDRHV7', '_RFDRHV8'],
    'Diabetes': ['DIABETE3', 'DIABETE4'],
    'AnyHealthcare': ['HLTHPLN1', '_HLTHPLN'],
    'Income': ['INCOME2', 'INCOME3' ],
    'NoDocbcCost': ['MEDCOST', 'MEDCOST1' ],
    'BMI': ['_BMI5'],
    'Smoker': ['SMOKE100'],
    'Stroke': ['CVDSTRK3'],
    'PhysActivity': ['_TOTINDA' ],
    'GenHlth': ['GENHLTH'],
    'MentHlth': ['MENTHLTH'],
    'PhysHlth': ['PHYSHLTH'],
    'DiffWalk': ['DIFFWALK'],
    'Age':['_AGEG5YR'],
    'Education': ['EDUCA']}

all_column_names = []
for vals in column_name_mapping.values():
    all_column_names += vals
print(all_column_names)

col_to_name_mapping = {}

for key, values in column_name_mapping.items():
    if isinstance(values, list):
        for value in values:
            col_to_name_mapping[value] = key
    elif isinstance(values, str):
        col_to_name_mapping[values] = key

subset_columns = list(set(df.columns) & set(col_to_name_mapping.keys()))
filtered_mapping = {col: col_to_name_mapping[col] for col in subset_columns}
df.rename(columns=filtered_mapping, inplace=True)
df

['_MICHD', 'TOLDHI2', 'TOLDHI3', '_FRTLT1', '_FRTLT1A', '_RFHYPE6', '_RFHYPE5', '_VEGLT1A', '_VEGLT1', '_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3', 'SEX', 'SEX1', 'SEXVAR', '_RFDRHV5', '_RFDRHV6', '_RFDRHV7', '_RFDRHV8', 'DIABETE3', 'DIABETE4', 'HLTHPLN1', '_HLTHPLN', 'INCOME2', 'INCOME3', 'MEDCOST', 'MEDCOST1', '_BMI5', 'SMOKE100', 'CVDSTRK3', '_TOTINDA', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', '_AGEG5YR', 'EDUCA']

,GenHlth,Income,Sex,Stroke,PhysHlth,Diabetes,NoDocbcCost,Smoker,HvyAlcoholConsump,HeartDiseaseorAttack,MentHlth,Education,Age,AnyHealthcare,PhysActivity,DiffWalk,BMI
0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,1.0,1.0,0.0,21.0
1,2.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,8.0,1.0,1.0,0.0,27.0
2,3.0,7.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,5.0,13.0,1.0,1.0,0.0,20.0
3,3.0,7.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,6.0,11.0,1.0,1.0,0.0,29.0
7,3.0,7.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0,12.0,1.0,1.0,1.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486296,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,1.0,0.0,0.0,23.0
486297,2.0,6.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,3.0,6.0,6.0,0.0,1.0,0.0,32.0
486300,4.0,4.0,0.0,0.0,30.0,0.0,1.0,1.0,0.0,0.0,10.0,5.0,9.0,1.0,0.0,0.0,42.0
486301,2.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,7.0,1.0,1.0,0.0,37.0
486302,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,8.0,0.0,0.0,0.0,26.0

In [ ]:
df.to_csv('indicators_clean/clean_indicators_2016.csv')