In [51]:
import pandas as pd

df = pd.read_csv('filtered_indicators/2021.csv')
pd.set_option('mode.chained_assignment', None)
df

,_RFHYPE6,GENHLTH,CVDSTRK3,_FRTLT1A,_RFDRHV7,_BMI5,INCOME3,PHYSHLTH,SMOKE100,EDUCA,...,_CHOLCH3,_MICHD,MENTHLTH,MEDCOST1,_HLTHPLN,_AGEG5YR,DIABETE4,SEXVAR,_TOTINDA,DIFFWALK
0,1.0,5.0,2.0,1.0,1.0,1454.0,5.0,20.0,1.0,4.0,...,1.0,2.0,10.0,2.0,1.0,11.0,3.0,2.0,2.0,2.0
1,2.0,3.0,2.0,1.0,1.0,NaN,77.0,88.0,2.0,6.0,...,1.0,1.0,88.0,2.0,1.0,10.0,1.0,2.0,1.0,1.0
2,2.0,2.0,2.0,1.0,1.0,2829.0,3.0,88.0,2.0,4.0,...,1.0,1.0,88.0,2.0,1.0,11.0,1.0,2.0,2.0,2.0
3,2.0,2.0,2.0,1.0,1.0,3347.0,7.0,88.0,2.0,4.0,...,1.0,2.0,10.0,2.0,1.0,9.0,1.0,2.0,1.0,2.0
4,1.0,5.0,1.0,1.0,1.0,2873.0,4.0,30.0,2.0,3.0,...,1.0,1.0,88.0,2.0,1.0,12.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438688,2.0,2.0,2.0,1.0,1.0,2469.0,5.0,88.0,1.0,4.0,...,1.0,2.0,20.0,1.0,2.0,3.0,2.0,2.0,1.0,2.0
438689,2.0,3.0,2.0,1.0,1.0,NaN,1.0,88.0,2.0,4.0,...,1.0,2.0,88.0,2.0,9.0,13.0,1.0,1.0,2.0,2.0
438690,1.0,2.0,2.0,1.0,1.0,3068.0,10.0,88.0,2.0,6.0,...,1.0,2.0,88.0,2.0,1.0,7.0,3.0,1.0,1.0,2.0
438691,2.0,2.0,2.0,1.0,1.0,2373.0,6.0,88.0,2.0,4.0,...,1.0,2.0,88.0,2.0,1.0,10.0,3.0,1.0,1.0,2.0
438692,1.0,1.0,2.0,2.0,1.0,3171.0,6.0,2.0,2.0,6.0,...,1.0,2.0,2.0,2.0,1.0,6.0,3.0,2.0,1.0,2.0

In [52]:
#Drop Missing Values - knocks 100,000 rows out right away
original_row_count = df.shape[0]
df = df.dropna()
droped_row_count = df.shape[0]
print(df.shape, "Percentage Droped:  ", ((original_row_count -  droped_row_count)/original_row_count) * 100)

(330355, 22) Percentage Droped:   24.695629973580612

In [53]:
def percentDropped(df_input):
    p =100*( (droped_row_count - df.shape[0]) / droped_row_count)
    return round(p,2)

In [54]:
# _MICHD
#Change 2 to 0 because this means did not have MI or CHD
df['_MICHD'] = df['_MICHD'].replace({2: 0})
print(df._MICHD.unique())

[0. 1.]

In [55]:
#1 _RFHYPE5
#Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
df['_RFHYPE6'] = df['_RFHYPE6'].replace({1:0, 2:1})
df = df[df._RFHYPE6 != 9]
print(df._RFHYPE6.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(329518, 22)     Dropped percent:  0.25     Droped rows:    837

In [56]:
#2 TOLDHI2
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['TOLDHI3'] = df['TOLDHI3'].replace({2:0})
df = df[df.TOLDHI3 != 7]
df = df[df.TOLDHI3 != 9]
print(df.TOLDHI3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(327218, 22)     Dropped percent:  0.95     Droped rows:    3137

In [57]:
#3 _CHOLCHK
# Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# Remove 9
df['_CHOLCH3'] = df['_CHOLCH3'].replace({3:0,2:0})
df = df[df._CHOLCH3 != 9]
print(df._CHOLCH3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(326955, 22)     Dropped percent:  1.03     Droped rows:    3400

In [58]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
df['_BMI5'] = df['_BMI5'].div(100).round(0)
df._BMI5.unique()

array([15., 28., 33., 29., 24., 46., 23., 40., 27., 35., 18., 30., 25.,
       36., 22., 31., 45., 26., 14., 38., 21., 32., 20., 19., 34., 41.,
       43., 44., 39., 37., 16., 42., 50., 51., 17., 52., 47., 49., 56.,
       57., 48., 58., 61., 53., 63., 64., 54., 68., 55., 62., 13., 59.,
       89., 66., 77., 60., 87., 69., 72., 75., 67., 71., 65., 82., 86.,
       70., 78., 12., 74., 98., 73., 84., 76., 80., 83., 79., 99., 88.,
       81., 90., 92., 91., 95., 85., 94.])

In [59]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['SMOKE100'] = df['SMOKE100'].replace({2:0})
df = df[df.SMOKE100 != 7]
df = df[df.SMOKE100 != 9]
print(df.SMOKE100.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(325124, 22)     Dropped percent:  1.58     Droped rows:    5231

In [60]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['CVDSTRK3'] = df['CVDSTRK3'].replace({2:0})
df = df[df.CVDSTRK3 != 7]
df = df[df.CVDSTRK3 != 9]
print(df.CVDSTRK3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(324441, 22)     Dropped percent:  1.79     Droped rows:    5914

In [61]:
#7 DIABETE3
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
df['DIABETE4'] = df['DIABETE4'].replace({2:0, 3:0, 1:2, 4:1})
df = df[df.DIABETE4 != 7]
df = df[df.DIABETE4 != 9]
print(df.DIABETE4.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 2. 1.]
(324135, 22)     Dropped percent:  1.88     Droped rows:    6220

In [62]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
df['_TOTINDA'] = df['_TOTINDA'].replace({2:0})
df = df[df._TOTINDA != 9]
print(df._TOTINDA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(323679, 22)     Dropped percent:  2.02     Droped rows:    6676

In [63]:
#9 _FRTLT1
# Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# remove all dont knows and missing 9
df['_FRTLT1A'] = df['_FRTLT1A'].replace({2:0})
df = df[df._FRTLT1A != 9]
print(df._FRTLT1A.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(304738, 22)     Dropped percent:  7.75     Droped rows:    25617

In [64]:
#10 _VEGLT1
# Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# remove all dont knows and missing 9
df['_VEGLT1'] = df['_VEGLT1A'].replace({2:0})
df = df[df._VEGLT1 != 9]
print(df._VEGLT1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(293204, 23)     Dropped percent:  11.25     Droped rows:    37151

In [65]:
#11 _RFDRHV5
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
df['_RFDRHV7'] = df['_RFDRHV7'].replace({1:0, 2:1})
df = df[df._RFDRHV7 != 9]
print(df._RFDRHV7.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(289517, 23)     Dropped percent:  12.36     Droped rows:    40838

In [66]:
df.columns

Index(['_RFHYPE6', 'GENHLTH', 'CVDSTRK3', '_FRTLT1A', '_RFDRHV7', '_BMI5',
       'INCOME3', 'PHYSHLTH', 'SMOKE100', 'EDUCA', 'TOLDHI3', '_VEGLT1A',
       '_CHOLCH3', '_MICHD', 'MENTHLTH', 'MEDCOST1', '_HLTHPLN', '_AGEG5YR',
       'DIABETE4', 'SEXVAR', '_TOTINDA', 'DIFFWALK', '_VEGLT1'],
      dtype='object')

In [67]:
#12 HLTHPLN1
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
df['_HLTHPLN'] = df['_HLTHPLN'].replace({2:0})
df = df[df._HLTHPLN != 7]
df = df[df._HLTHPLN != 9]
print(df._HLTHPLN.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[1. 0.]
(282896, 23)     Dropped percent:  14.37     Droped rows:    47459

In [68]:
#13 MEDCOST
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
df['MEDCOST1'] = df['MEDCOST1'].replace({2:0})
df = df[df.MEDCOST1 != 7]
df = df[df.MEDCOST1 != 9]
print(df.MEDCOST1.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(282472, 23)     Dropped percent:  14.49     Droped rows:    47883

In [69]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
df = df[df.GENHLTH != 7]
df = df[df.GENHLTH != 9]
print(df.GENHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[5. 2. 3. 4. 1.]
(282115, 23)     Dropped percent:  14.6     Droped rows:    48240

In [70]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['MENTHLTH'] = df['MENTHLTH'].replace({88:0})
df = df[df.MENTHLTH != 77]
df = df[df.MENTHLTH != 99]
print(df.MENTHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[10.  0.  5. 25.  2.  7. 30.  3. 14. 20.  8.  1. 15.  4. 28. 24. 21. 12.
  6. 22. 27. 18. 13. 17. 16.  9. 19. 29. 23. 11. 26.]
(279200, 23)     Dropped percent:  15.48     Droped rows:    51155

In [71]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
df['PHYSHLTH'] = df['PHYSHLTH'].replace({88:0})
df = df[df.PHYSHLTH != 77]
df = df[df.PHYSHLTH != 99]
print(df.PHYSHLTH.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[20.  0. 30. 25.  1.  4. 10.  2.  3. 15.  8. 13. 14.  5.  7.  6. 24. 29.
 18.  9. 16. 17. 26. 28. 12. 21. 27. 11. 19. 22. 23.]
(275853, 23)     Dropped percent:  16.5     Droped rows:    54502

In [72]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
df['DIFFWALK'] = df['DIFFWALK'].replace({2:0})
df = df[df.DIFFWALK != 7]
df = df[df.DIFFWALK != 9]
print(df.DIFFWALK.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(275290, 23)     Dropped percent:  16.67     Droped rows:    55065

In [73]:
df.columns

Index(['_RFHYPE6', 'GENHLTH', 'CVDSTRK3', '_FRTLT1A', '_RFDRHV7', '_BMI5',
       'INCOME3', 'PHYSHLTH', 'SMOKE100', 'EDUCA', 'TOLDHI3', '_VEGLT1A',
       '_CHOLCH3', '_MICHD', 'MENTHLTH', 'MEDCOST1', '_HLTHPLN', '_AGEG5YR',
       'DIABETE4', 'SEXVAR', '_TOTINDA', 'DIFFWALK', '_VEGLT1'],
      dtype='object')

In [74]:
#18 SEX
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
df['SEXVAR'] = df['SEXVAR'].replace({2:0})
df = df[df.SEXVAR != 9]
print(df.SEXVAR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[0. 1.]
(275290, 23)     Dropped percent:  16.67     Droped rows:    55065

In [75]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
df = df[df._AGEG5YR != 14]
print(df._AGEG5YR.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[11.  9. 12. 13. 10.  7.  6.  8.  4.  3.  5.  2.  1.]
(272775, 23)     Dropped percent:  17.43     Droped rows:    57580

In [76]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
df = df[df.EDUCA != 9]
print(df.EDUCA.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[4. 3. 5. 6. 2. 1.]
(272471, 23)     Dropped percent:  17.52     Droped rows:    57884

In [77]:
df.columns

Index(['_RFHYPE6', 'GENHLTH', 'CVDSTRK3', '_FRTLT1A', '_RFDRHV7', '_BMI5',
       'INCOME3', 'PHYSHLTH', 'SMOKE100', 'EDUCA', 'TOLDHI3', '_VEGLT1A',
       '_CHOLCH3', '_MICHD', 'MENTHLTH', 'MEDCOST1', '_HLTHPLN', '_AGEG5YR',
       'DIABETE4', 'SEXVAR', '_TOTINDA', 'DIFFWALK', '_VEGLT1'],
      dtype='object')

In [78]:
#21 INCOME2
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
df = df[df.INCOME3 != 77]
df = df[df.INCOME3 != 99]
df.loc[df['INCOME3'] > 7, 'INCOME3'] = 7
print(df.INCOME3.unique())
print(df.shape, "    Dropped percent: " , percentDropped(df), "    Droped rows:   ", droped_row_count - df.shape[0])

[5. 3. 7. 4. 6. 2. 1.]
(236378, 23)     Dropped percent:  28.45     Droped rows:    93977

In [79]:
print(df.shape,  "Percent Dropped From Start: ", round(((original_row_count - df.shape[0]) / original_row_count) * 100, 2), " Original Row Count: ", original_row_count)

(236378, 23) Percent Dropped From Start:  46.12  Original Row Count:  438693

In [80]:
#Check Class Sizes of the heart disease column  Note the class imbalance!
print(df.groupby(['_MICHD']).size())
grp =df.groupby(['_MICHD'])
percent_yes = 100*(grp.size()[1.0] / grp.size().sum())
print("Percent Yes (1.0): ",  round(percent_yes, 2))

_MICHD
0.0    215920
1.0     20458
dtype: int64
Percent Yes (1.0):  8.65

In [81]:
column_name_mapping = {

    'HeartDiseaseorAttack':['_MICHD'],
    'HighChol': ['TOLDHI2', 'TOLDHI3'],
    'Fruits': ['_FRTLT1', '_FRTLT1A'],
    'HighBP': ['_RFHYPE6', '_RFHYPE5'],
    "Veggies": ['_VEGLT1A', '_VEGLT1' ],
    'CholCheck': ['_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3' ],
    'Sex':['SEX', 'SEX1', 'SEXVAR'],
    'HvyAlcoholConsump': ['_RFDRHV5','_RFDRHV6', '_RFDRHV7', '_RFDRHV8'],
    'Diabetes': ['DIABETE3', 'DIABETE4'],
    'AnyHealthcare': ['HLTHPLN1', '_HLTHPLN'],
    'Income': ['INCOME2', 'INCOME3' ],
    'NoDocbcCost': ['MEDCOST', 'MEDCOST1' ],
    'BMI': ['_BMI5'],
    'Smoker': ['SMOKE100'],
    'Stroke': ['CVDSTRK3'],
    'PhysActivity': ['_TOTINDA' ],
    'GenHlth': ['GENHLTH'],
    'MentHlth': ['MENTHLTH'],
    'PhysHlth': ['PHYSHLTH'],
    'DiffWalk': ['DIFFWALK'],
    'Age':['_AGEG5YR'],
    'Education': ['EDUCA']}

all_column_names = []
for vals in column_name_mapping.values():
    all_column_names += vals
print(all_column_names)

col_to_name_mapping = {}

for key, values in column_name_mapping.items():
    if isinstance(values, list):
        for value in values:
            col_to_name_mapping[value] = key
    elif isinstance(values, str):
        col_to_name_mapping[values] = key

subset_columns = list(set(df.columns) & set(col_to_name_mapping.keys()))
filtered_mapping = {col: col_to_name_mapping[col] for col in subset_columns}
df.rename(columns=filtered_mapping, inplace=True)
df

['_MICHD', 'TOLDHI2', 'TOLDHI3', '_FRTLT1', '_FRTLT1A', '_RFHYPE6', '_RFHYPE5', '_VEGLT1A', '_VEGLT1', '_CHOLCHK', '_CHOLCH1', '_CHOLCH2', '_CHOLCH3', 'SEX', 'SEX1', 'SEXVAR', '_RFDRHV5', '_RFDRHV6', '_RFDRHV7', '_RFDRHV8', 'DIABETE3', 'DIABETE4', 'HLTHPLN1', '_HLTHPLN', 'INCOME2', 'INCOME3', 'MEDCOST', 'MEDCOST1', '_BMI5', 'SMOKE100', 'CVDSTRK3', '_TOTINDA', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', '_AGEG5YR', 'EDUCA']

,HighBP,GenHlth,Stroke,Fruits,HvyAlcoholConsump,BMI,Income,PhysHlth,Smoker,Education,...,HeartDiseaseorAttack,MentHlth,NoDocbcCost,AnyHealthcare,Age,Diabetes,Sex,PhysActivity,DiffWalk,Veggies
0,0.0,5.0,0.0,1.0,0.0,15.0,5.0,20.0,1.0,4.0,...,0.0,10.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,1.0
2,1.0,2.0,0.0,1.0,0.0,28.0,3.0,0.0,0.0,4.0,...,1.0,0.0,0.0,1.0,11.0,2.0,0.0,0.0,0.0,0.0
3,1.0,2.0,0.0,1.0,0.0,33.0,7.0,0.0,0.0,4.0,...,0.0,10.0,0.0,1.0,9.0,2.0,0.0,1.0,0.0,1.0
4,0.0,5.0,1.0,1.0,0.0,29.0,4.0,30.0,0.0,3.0,...,1.0,0.0,0.0,1.0,12.0,2.0,1.0,1.0,1.0,1.0
5,0.0,3.0,0.0,0.0,0.0,24.0,6.0,0.0,1.0,5.0,...,0.0,0.0,0.0,1.0,13.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438687,1.0,4.0,0.0,1.0,0.0,21.0,3.0,0.0,0.0,2.0,...,0.0,0.0,0.0,1.0,10.0,2.0,1.0,1.0,0.0,1.0
438688,1.0,2.0,0.0,1.0,0.0,25.0,5.0,0.0,1.0,4.0,...,0.0,20.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,1.0
438690,0.0,2.0,0.0,1.0,0.0,31.0,7.0,0.0,0.0,6.0,...,0.0,0.0,0.0,1.0,7.0,0.0,1.0,1.0,0.0,1.0
438691,1.0,2.0,0.0,1.0,0.0,24.0,6.0,0.0,0.0,4.0,...,0.0,0.0,0.0,1.0,10.0,0.0,1.0,1.0,0.0,1.0
438692,0.0,1.0,0.0,0.0,0.0,32.0,6.0,2.0,0.0,6.0,...,0.0,2.0,0.0,1.0,6.0,0.0,0.0,1.0,0.0,0.0

In [83]:
df.to_csv('indicators_clean/clean_indicators_2021.csv')