# Analysis Indicators

In [5]:
import pandas as pd 
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('indicators_clean/clean_indicators_ALL_2015_2022.csv')
df

,Unnamed: 0,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Year,Veggies.1
0,0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0,2015,NaN
1,1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0,2015,NaN
2,2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0,2015,NaN
3,3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0,2015,NaN
4,4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0,2015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238841,286764,0.0,NaN,NaN,NaN,24.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,1.0,4.0,7.0,0.0,0.0,0.0,2.0,6.0,4.0,2022,NaN
2238842,286765,0.0,NaN,NaN,NaN,30.0,0.0,1.0,2.0,1.0,NaN,NaN,0.0,1.0,0.0,3.0,15.0,0.0,0.0,1.0,10.0,6.0,7.0,2022,NaN
2238843,286766,0.0,NaN,NaN,NaN,31.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,6.0,7.0,2022,NaN
2238844,286767,0.0,NaN,NaN,NaN,29.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,1.0,0.0,1.0,2.0,2.0,0.0,0.0,7.0,6.0,7.0,2022,NaN
2238845,286768,1.0,NaN,NaN,NaN,33.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,11.0,5.0,7.0,2022,NaN